.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 9px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 4px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.wr-nav-brand > li {
  float: left;
}
.wr-nav-brand > li > a {
  border-radius: 6px;
}
.wr-nav-brand > li + li {
  margin-left: 2px;
}
.wr-nav-brand > li.active > a,
.wr-nav-brand > li.active > a:hover,
.wr-nav-brand > li.active > a:focus {
  color: #ffffff;
  background-color: #10988b;
}
.wr-nav-brand,
.wr-nav-brand .nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
.wr-nav-brand > li > a,
.wr-nav-brand .nav > li > a {
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  border-radius: 6px;
}
.wr-nav-brand > li > a > .wr-icon,
.wr-nav-brand .nav > li > a > .wr-icon {
  vertical-align: text-bottom;
  margin: 0 0.5em 0 0;
}
.wr-nav-brand > li small,
.wr-nav-brand .nav > li small,
.wr-nav-brand > li .small,
.wr-nav-brand .nav > li .small {
  font-weight: normal;
  font-size: 1em;
}
.wr-nav-brand .nav,
.wr-nav-brand .nav .nav {
  margin: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.wr-nav-brand > li {
  float: left;
}
.wr-nav-brand > li > a {
  border-radius: 6px;
}
.wr-nav-brand > li + li {
  margin-left: 2px;
}
.wr-nav-brand > li.active > a,
.wr-nav-brand > li.active > a:hover,
.wr-nav-brand > li.active > a:focus {
  color: #ffffff;
  background-color: #10988b;
}
.wr-nav-brand,
.wr-nav-brand .nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
.wr-nav-brand > li > a,
.wr-nav-brand .nav > li > a {
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  border-radius: 6px;
}
.wr-nav-brand > li > a > .wr-icon,
.wr-nav-brand .nav > li > a > .wr-icon {
  vertical-align: text-bottom;
  margin: 0 0.5em 0 0;
}
.wr-nav-brand > li small,
.wr-nav-brand .nav > li small,
.wr-nav-brand > li .small,
.wr-nav-brand .nav > li .small {
  font-weight: normal;
  font-size: 1em;
}
.wr-nav-brand .nav,
.wr-nav-brand .nav .nav {
  margin: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.wr-nav-brand > li {
  float: none;
}
.wr-nav-brand > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.wr-nav-brand li a {
  font-weight: normal;
  padding: 8px 10px;
}
.wr-nav-brand li a:link,
.wr-nav-brand li a:visited {
  color: #506563;
}
.wr-nav-brand li.active > a {
  font-weight: bold !important;
}
.wr-nav-brand .nav {
  margin-left: 15px;
}
.wr-nav-brand .nav li a {
  padding: 5px 8px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
}
.swatch {
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 4px;
  background-color: rgba(249, 250, 250, 0.9);
  border: 1px solid rgba(80, 101, 99, 0.1);
}
.swatch-colour {
  overflow: hidden;
  padding: 8px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "onum" 1, "onum" 1;
  -ms-font-feature-settings: "onum" 1, "onum" 1;
  -o-font-feature-settings: "onum" 1, "onum" 1;
  -webkit-font-feature-settings: "onum" 1, "onum" 1;
  font-feature-settings: "onum" 1, "onum" 1;
  font-family: "Arnhem Pro", ArnhemPro, Arnhem, Georgia, serif;
}
.swatch-colour a:not(:hover) {
  background-position: 0 88%;
}
p .swatch-colour {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.swatch-colour .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .swatch-colour,
.h1 .swatch-colour,
h1.swatch-colour,
.h1.swatch-colour,
h2 .swatch-colour,
.h2 .swatch-colour,
h2.swatch-colour,
.h2.swatch-colour,
h3 .swatch-colour,
.h3 .swatch-colour,
h3.swatch-colour,
.h3.swatch-colour,
h4 .swatch-colour,
.h4 .swatch-colour,
h4.swatch-colour,
.h4.swatch-colour {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.swatch-colour a:not(:hover) {
  background-position: 0 88%;
}
p .swatch-colour {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.swatch-colour .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .swatch-colour,
.h1 .swatch-colour,
h1.swatch-colour,
.h1.swatch-colour,
h2 .swatch-colour,
.h2 .swatch-colour,
h2.swatch-colour,
.h2.swatch-colour,
h3 .swatch-colour,
.h3 .swatch-colour,
h3.swatch-colour,
.h3.swatch-colour,
h4 .swatch-colour,
.h4 .swatch-colour,
h4.swatch-colour,
.h4.swatch-colour {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.swatch-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  width: 48px;
  height: 48px;
}
/*# sourceMappingURL=brand-standards.css.map */