.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 9px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 4px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
blockquote:after a:not(:hover) {
  background-position: 0 88%;
}
p blockquote:after {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
blockquote:after .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 blockquote:after,
.h1 blockquote:after,
h1blockquote:after,
.h1blockquote:after,
h2 blockquote:after,
.h2 blockquote:after,
h2blockquote:after,
.h2blockquote:after,
h3 blockquote:after,
.h3 blockquote:after,
h3blockquote:after,
.h3blockquote:after,
h4 blockquote:after,
.h4 blockquote:after,
h4blockquote:after,
.h4blockquote:after {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
body.guide main.row p a:not(:hover) {
  background-position: 0 88%;
}
p body.guide main.row p {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
body.guide main.row p .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 body.guide main.row p,
.h1 body.guide main.row p,
h1body.guide main.row p,
.h1body.guide main.row p,
h2 body.guide main.row p,
.h2 body.guide main.row p,
h2body.guide main.row p,
.h2body.guide main.row p,
h3 body.guide main.row p,
.h3 body.guide main.row p,
h3body.guide main.row p,
.h3body.guide main.row p,
h4 body.guide main.row p,
.h4 body.guide main.row p,
h4body.guide main.row p,
.h4body.guide main.row p {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.jumbotron.wr-jumbotron-guide h1 a:not(:hover),
.jumbotron.wr-jumbotron-guide .h1 a:not(:hover) {
  background-position: 0 88%;
}
p .jumbotron.wr-jumbotron-guide h1,
p .jumbotron.wr-jumbotron-guide .h1 {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.jumbotron.wr-jumbotron-guide h1 .sans-serif,
.jumbotron.wr-jumbotron-guide .h1 .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .jumbotron.wr-jumbotron-guide h1,
h1 .jumbotron.wr-jumbotron-guide .h1,
.h1 .jumbotron.wr-jumbotron-guide h1,
.h1 .jumbotron.wr-jumbotron-guide .h1,
h1.jumbotron.wr-jumbotron-guide h1,
h1.jumbotron.wr-jumbotron-guide .h1,
.h1.jumbotron.wr-jumbotron-guide h1,
.h1.jumbotron.wr-jumbotron-guide .h1,
h2 .jumbotron.wr-jumbotron-guide h1,
h2 .jumbotron.wr-jumbotron-guide .h1,
.h2 .jumbotron.wr-jumbotron-guide h1,
.h2 .jumbotron.wr-jumbotron-guide .h1,
h2.jumbotron.wr-jumbotron-guide h1,
h2.jumbotron.wr-jumbotron-guide .h1,
.h2.jumbotron.wr-jumbotron-guide h1,
.h2.jumbotron.wr-jumbotron-guide .h1,
h3 .jumbotron.wr-jumbotron-guide h1,
h3 .jumbotron.wr-jumbotron-guide .h1,
.h3 .jumbotron.wr-jumbotron-guide h1,
.h3 .jumbotron.wr-jumbotron-guide .h1,
h3.jumbotron.wr-jumbotron-guide h1,
h3.jumbotron.wr-jumbotron-guide .h1,
.h3.jumbotron.wr-jumbotron-guide h1,
.h3.jumbotron.wr-jumbotron-guide .h1,
h4 .jumbotron.wr-jumbotron-guide h1,
h4 .jumbotron.wr-jumbotron-guide .h1,
.h4 .jumbotron.wr-jumbotron-guide h1,
.h4 .jumbotron.wr-jumbotron-guide .h1,
h4.jumbotron.wr-jumbotron-guide h1,
h4.jumbotron.wr-jumbotron-guide .h1,
.h4.jumbotron.wr-jumbotron-guide h1,
.h4.jumbotron.wr-jumbotron-guide .h1 {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.wr-guide-badge .wr-guide-badge-text a:not(:hover) {
  background-position: 0 88%;
}
p .wr-guide-badge .wr-guide-badge-text {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.wr-guide-badge .wr-guide-badge-text .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .wr-guide-badge .wr-guide-badge-text,
.h1 .wr-guide-badge .wr-guide-badge-text,
h1.wr-guide-badge .wr-guide-badge-text,
.h1.wr-guide-badge .wr-guide-badge-text,
h2 .wr-guide-badge .wr-guide-badge-text,
.h2 .wr-guide-badge .wr-guide-badge-text,
h2.wr-guide-badge .wr-guide-badge-text,
.h2.wr-guide-badge .wr-guide-badge-text,
h3 .wr-guide-badge .wr-guide-badge-text,
.h3 .wr-guide-badge .wr-guide-badge-text,
h3.wr-guide-badge .wr-guide-badge-text,
.h3.wr-guide-badge .wr-guide-badge-text,
h4 .wr-guide-badge .wr-guide-badge-text,
.h4 .wr-guide-badge .wr-guide-badge-text,
h4.wr-guide-badge .wr-guide-badge-text,
.h4.wr-guide-badge .wr-guide-badge-text {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.lmo-co-content p a:not(:hover) {
  background-position: 0 88%;
}
p .lmo-co-content p {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.lmo-co-content p .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .lmo-co-content p,
.h1 .lmo-co-content p,
h1.lmo-co-content p,
.h1.lmo-co-content p,
h2 .lmo-co-content p,
.h2 .lmo-co-content p,
h2.lmo-co-content p,
.h2.lmo-co-content p,
h3 .lmo-co-content p,
.h3 .lmo-co-content p,
h3.lmo-co-content p,
.h3.lmo-co-content p,
h4 .lmo-co-content p,
.h4 .lmo-co-content p,
h4.lmo-co-content p,
.h4.lmo-co-content p {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
a.lmo-co-find-jobs-wr-spruce {
  background-color: #10988b;
  border-color: #0e8176;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-spruce:hover {
  border-color: rgba(14, 129, 118, 0.8);
  color: #10988b;
  background-color: rgba(243, 250, 249, 0.9);
}
a.lmo-co-find-jobs-wr-spruce:active,
a.lmo-co-find-jobs-wr-spruce.active {
  background-color: #10988b;
}
.btn-group > a.lmo-co-find-jobs-wr-spruce + a.lmo-co-find-jobs-wr-spruce.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-spruce.btn {
  border-color: rgba(16, 152, 139, 0.5);
  color: #10988b;
  background-color: transparent;
}
a.lmo-co-find-jobs-wr-red {
  background-color: #af1639;
  border-color: #981332;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-red:hover {
  border-color: rgba(152, 19, 50, 0.8);
  color: #af1639;
  background-color: rgba(251, 243, 245, 0.9);
}
a.lmo-co-find-jobs-wr-red:active,
a.lmo-co-find-jobs-wr-red.active {
  background-color: #af1639;
}
.btn-group > a.lmo-co-find-jobs-wr-red + a.lmo-co-find-jobs-wr-red.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-red.btn {
  border-color: rgba(175, 22, 57, 0.5);
  color: #af1639;
  background-color: transparent;
}
a.lmo-co-find-jobs-wr-pink {
  background-color: #ff769f;
  border-color: #ff5d8d;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-pink:hover {
  border-color: rgba(255, 93, 141, 0.8);
  color: #ff769f;
  background-color: rgba(255, 248, 250, 0.9);
}
a.lmo-co-find-jobs-wr-pink:active,
a.lmo-co-find-jobs-wr-pink.active {
  background-color: #ff769f;
}
.btn-group > a.lmo-co-find-jobs-wr-pink + a.lmo-co-find-jobs-wr-pink.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-pink.btn {
  border-color: rgba(255, 118, 159, 0.5);
  color: #ff769f;
  background-color: transparent;
}
a.lmo-co-find-jobs-wr-orange {
  background-color: #ffaf00;
  border-color: #e69d00;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-orange:hover {
  border-color: rgba(230, 157, 0, 0.8);
  color: #ffaf00;
  background-color: rgba(255, 251, 242, 0.9);
}
a.lmo-co-find-jobs-wr-orange:active,
a.lmo-co-find-jobs-wr-orange.active {
  background-color: #ffaf00;
}
.btn-group > a.lmo-co-find-jobs-wr-orange + a.lmo-co-find-jobs-wr-orange.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-orange.btn {
  border-color: rgba(255, 175, 0, 0.5);
  color: #ffaf00;
  background-color: transparent;
}
a.lmo-co-find-jobs-wr-green {
  background-color: #00d679;
  border-color: #00bd6b;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-green:hover {
  border-color: rgba(0, 189, 107, 0.8);
  color: #00d679;
  background-color: rgba(242, 253, 248, 0.9);
}
a.lmo-co-find-jobs-wr-green:active,
a.lmo-co-find-jobs-wr-green.active {
  background-color: #00d679;
}
.btn-group > a.lmo-co-find-jobs-wr-green + a.lmo-co-find-jobs-wr-green.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-green.btn {
  border-color: rgba(0, 214, 121, 0.5);
  color: #00d679;
  background-color: transparent;
}
a.lmo-co-find-jobs-wr-blue {
  background-color: #4095c5;
  border-color: #3787b5;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-blue:hover {
  border-color: rgba(55, 135, 181, 0.8);
  color: #4095c5;
  background-color: rgba(245, 250, 252, 0.9);
}
a.lmo-co-find-jobs-wr-blue:active,
a.lmo-co-find-jobs-wr-blue.active {
  background-color: #4095c5;
}
.btn-group > a.lmo-co-find-jobs-wr-blue + a.lmo-co-find-jobs-wr-blue.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-blue.btn {
  border-color: rgba(64, 149, 197, 0.5);
  color: #4095c5;
  background-color: transparent;
}
a.lmo-co-find-jobs-wr-purple {
  background-color: #6d22d6;
  border-color: #621fc0;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-purple:hover {
  border-color: rgba(98, 31, 192, 0.8);
  color: #6d22d6;
  background-color: rgba(248, 244, 253, 0.9);
}
a.lmo-co-find-jobs-wr-purple:active,
a.lmo-co-find-jobs-wr-purple.active {
  background-color: #6d22d6;
}
.btn-group > a.lmo-co-find-jobs-wr-purple + a.lmo-co-find-jobs-wr-purple.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-purple.btn {
  border-color: rgba(109, 34, 214, 0.5);
  color: #6d22d6;
  background-color: transparent;
}
a.lmo-co-find-jobs-wr-brown {
  background-color: #8b572a;
  border-color: #774b24;
  color: #ffffff;
}
a.lmo-co-find-jobs-wr-brown:hover {
  border-color: rgba(119, 75, 36, 0.8);
  color: #8b572a;
  background-color: rgba(249, 247, 244, 0.9);
}
a.lmo-co-find-jobs-wr-brown:active,
a.lmo-co-find-jobs-wr-brown.active {
  background-color: #8b572a;
}
.btn-group > a.lmo-co-find-jobs-wr-brown + a.lmo-co-find-jobs-wr-brown.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-wr-brown.btn {
  border-color: rgba(139, 87, 42, 0.5);
  color: #8b572a;
  background-color: transparent;
}
a.lmo-co-find-jobs-black {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
a.lmo-co-find-jobs-black:hover {
  border-color: rgba(0, 0, 0, 0.8);
  color: #000000;
  background-color: rgba(242, 242, 242, 0.9);
}
a.lmo-co-find-jobs-black:active,
a.lmo-co-find-jobs-black.active {
  background-color: #000000;
}
.btn-group > a.lmo-co-find-jobs-black + a.lmo-co-find-jobs-black.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-black.btn {
  border-color: rgba(0, 0, 0, 0.5);
  color: #000000;
  background-color: transparent;
}
a.lmo-co-find-jobs-white {
  background-color: #ffffff;
  border-color: #999999;
  color: #000000;
}
a.lmo-co-find-jobs-white:hover {
  border-color: rgba(153, 153, 153, 0.8);
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
}
a.lmo-co-find-jobs-white:active,
a.lmo-co-find-jobs-white.active {
  background-color: #ffffff;
}
.btn-group > a.lmo-co-find-jobs-white + a.lmo-co-find-jobs-white.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar a.lmo-co-find-jobs-white.btn {
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  background-color: transparent;
}
a.lmo-co-find-jobs-white:hover {
  background-color: #999;
}
.serif {
  font-family: "Arnhem Pro", ArnhemPro, Arnhem, Georgia, serif;
  -moz-font-feature-settings: "onum" 1;
  -ms-font-feature-settings: "onum" 1;
  -o-font-feature-settings: "onum" 1;
  -webkit-font-feature-settings: "onum" 1;
  font-feature-settings: "onum" 1;
}
.serif a:not(:hover) {
  background-position: 0 88%;
}
p .serif {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.serif .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .serif,
.h1 .serif,
h1.serif,
.h1.serif,
h2 .serif,
.h2 .serif,
h2.serif,
.h2.serif,
h3 .serif,
.h3 .serif,
h3.serif,
.h3.serif,
h4 .serif,
.h4 .serif,
h4.serif,
.h4.serif {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.text-content {
  -moz-font-feature-settings: "onum" 1, "onum" 1;
  -ms-font-feature-settings: "onum" 1, "onum" 1;
  -o-font-feature-settings: "onum" 1, "onum" 1;
  -webkit-font-feature-settings: "onum" 1, "onum" 1;
  font-feature-settings: "onum" 1, "onum" 1;
  font-family: "Arnhem Pro", ArnhemPro, Arnhem, Georgia, serif;
  font-size: 105%;
}
.text-content a:not(:hover) {
  background-position: 0 88%;
}
p .text-content {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.text-content .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .text-content,
.h1 .text-content,
h1.text-content,
.h1.text-content,
h2 .text-content,
.h2 .text-content,
h2.text-content,
.h2.text-content,
h3 .text-content,
.h3 .text-content,
h3.text-content,
.h3.text-content,
h4 .text-content,
.h4 .text-content,
h4.text-content,
.h4.text-content {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.text-content a:not(:hover) {
  background-position: 0 88%;
}
p .text-content {
  font-size: 106.25%;
  line-height: 94.11764706%;
}
.text-content .sans-serif {
  font-size: 94.11764706%;
  line-height: 106.25%;
}
h1 .text-content,
.h1 .text-content,
h1.text-content,
.h1.text-content,
h2 .text-content,
.h2 .text-content,
h2.text-content,
.h2.text-content,
h3 .text-content,
.h3 .text-content,
h3.text-content,
.h3.text-content,
h4 .text-content,
.h4 .text-content,
h4.text-content,
.h4.text-content {
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.text-content .lead,
.text-content.lead {
  font-size: 22.30769231px;
}
@media (min-width: 768px) {
  .text-content .lead,
  .text-content.lead {
    font-size: 29px;
  }
}
.sans-serif {
  font-family: "Fort", Fort, "Helvetica Neue", HelveticaNeue, Helvetica, Verdana, sans-serif;
}
.sans-serif-small-caps {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.font-light {
  font-weight: 200;
}
a.entity {
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding-top: 0.175em;
  padding-bottom: 0.075em;
  border-width: 1px;
  border-style: solid;
  font-family: "Fort", Fort, "Helvetica Neue", HelveticaNeue, Helvetica, Verdana, sans-serif;
  display: inline;
  white-space: nowrap;
  border-radius: 4px;
  padding-right: 0.3em;
  padding-left: 0.3em;
  color: #10988b;
  background-color: rgba(186, 222, 218, 0.3);
  border: 1px solid rgba(16, 152, 139, 0.2);
}
a.entity .wr-icon {
  margin-right: 0.2em;
  margin-top: 1px;
}
a.entity:hover {
  background-color: rgba(186, 222, 218, 0.6);
}
a.entity.disabled {
  color: #92aaa7 !important;
  background-color: rgba(225, 227, 226, 0.3) !important;
  border: 1px solid rgba(146, 170, 167, 0.2) !important;
}
a.entity.disabled:hover {
  background-color: rgba(225, 227, 226, 0.6) !important;
}
a.entity.link {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-style: none;
  padding-bottom: 0.125em;
  background-size: 1px 1px;
  text-shadow: 1px 0 transparent, 2px 0 transparent, -1px 0 transparent, -2px 0 transparent;
  background-image: -webkit-linear-gradient(top, transparent 0%, #10988b 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #10988b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff10988b', GradientType=0);
  background-position: 0 100%;
}
a.entity.link,
a.entity.link:link,
a.entity.link:visited,
a.entity.link:hover,
a.entity.link:active {
  -webkit-transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
}
a.entity.link:hover,
a.entity.link:active {
  background-position: 0 100%;
}
a.entity.link:visited {
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(16, 152, 139, 0.6) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(16, 152, 139, 0.6) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#9910988b', GradientType=0);
}
a.entity.link:link,
a.entity.link:visited,
a.entity.link:hover {
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}
a.entity.link:hover {
  background-color: rgba(186, 222, 218, 0.3);
}
a.tag {
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding-top: 0.175em;
  padding-bottom: 0.075em;
  border-width: 1px;
  border-style: solid;
  font-family: "Fort", Fort, "Helvetica Neue", HelveticaNeue, Helvetica, Verdana, sans-serif;
  display: inline;
  white-space: nowrap;
  border-radius: 1em;
  border-color: rgba(16, 152, 139, 0.2);
  padding-right: 0.6em;
  padding-left: 0.6em;
}
a.tag .wr-icon {
  margin-right: 0.2em;
  margin-top: 1px;
}
a.tag:hover {
  background-color: rgba(16, 152, 139, 0.2);
}
a.wr-link-advisor,
a.wr-link-advisor-av,
a.wr-link-guides,
.wr-link-advisor a,
.wr-link-advisor-av a,
.wr-link-guides a {
  color: #c61940;
}
a.wr-link-advisor:visited,
a.wr-link-advisor-av:visited,
a.wr-link-guides:visited,
.wr-link-advisor a:visited,
.wr-link-advisor-av a:visited,
.wr-link-guides a:visited {
  color: #cd919f;
}
a.wr-link-advisor:hover,
a.wr-link-advisor-av:hover,
a.wr-link-guides:hover,
.wr-link-advisor a:hover,
.wr-link-advisor-av a:hover,
.wr-link-guides a:hover {
  color: #540b1b;
}
a.wr-link-advisor.entity,
a.wr-link-advisor-av.entity,
a.wr-link-guides.entity,
.wr-link-advisor a.entity,
.wr-link-advisor-av a.entity,
.wr-link-guides a.entity {
  color: #c61940;
  background-color: rgba(234, 189, 200, 0.3);
  border: 1px solid rgba(198, 25, 64, 0.2);
}
a.wr-link-advisor.entity:hover,
a.wr-link-advisor-av.entity:hover,
a.wr-link-guides.entity:hover,
.wr-link-advisor a.entity:hover,
.wr-link-advisor-av a.entity:hover,
.wr-link-guides a.entity:hover {
  background-color: rgba(234, 189, 200, 0.6);
}
a.wr-link-event,
.wr-link-event a {
  color: #ff4d82;
}
a.wr-link-event:visited,
.wr-link-event a:visited {
  color: #f5d7e0;
}
a.wr-link-event:hover,
.wr-link-event a:hover {
  color: #cd003d;
}
a.wr-link-event.entity,
.wr-link-event a.entity {
  color: #ff4d82;
  background-color: rgba(252, 204, 219, 0.3);
  border: 1px solid rgba(255, 77, 130, 0.2);
}
a.wr-link-event.entity:hover,
.wr-link-event a.entity:hover {
  background-color: rgba(252, 204, 219, 0.6);
}
a.wr-link-founder,
a.wr-link-founder-av,
.wr-link-founder a,
.wr-link-founder-av a {
  color: #e69d00;
}
a.wr-link-founder:visited,
a.wr-link-founder-av:visited,
.wr-link-founder a:visited,
.wr-link-founder-av a:visited {
  color: #e0c485;
}
a.wr-link-founder:hover,
a.wr-link-founder-av:hover,
.wr-link-founder a:hover,
.wr-link-founder-av a:hover {
  color: #664600;
}
a.wr-link-founder.entity,
a.wr-link-founder-av.entity,
.wr-link-founder a.entity,
.wr-link-founder-av a.entity {
  color: #e69d00;
  background-color: rgba(244, 224, 182, 0.3);
  border: 1px solid rgba(230, 157, 0, 0.2);
}
a.wr-link-founder.entity:hover,
a.wr-link-founder-av.entity:hover,
.wr-link-founder a.entity:hover,
.wr-link-founder-av a.entity:hover {
  background-color: rgba(244, 224, 182, 0.6);
}
a.wr-link-startup,
a.wr-link-incubator,
a.wr-link-vc,
.wr-link-startup a,
.wr-link-incubator a,
.wr-link-vc a {
  color: #00a35c;
}
a.wr-link-startup:visited,
a.wr-link-incubator:visited,
a.wr-link-vc:visited,
.wr-link-startup a:visited,
.wr-link-incubator a:visited,
.wr-link-vc a:visited {
  color: #4fd39a;
}
a.wr-link-startup:hover,
a.wr-link-incubator:hover,
a.wr-link-vc:hover,
.wr-link-startup a:hover,
.wr-link-incubator a:hover,
.wr-link-vc a:hover {
  color: #002314;
}
a.wr-link-startup.entity,
a.wr-link-incubator.entity,
a.wr-link-vc.entity,
.wr-link-startup a.entity,
.wr-link-incubator a.entity,
.wr-link-vc a.entity {
  color: #00a35c;
  background-color: rgba(181, 225, 206, 0.3);
  border: 1px solid rgba(0, 163, 92, 0.2);
}
a.wr-link-startup.entity:hover,
a.wr-link-incubator.entity:hover,
a.wr-link-vc.entity:hover,
.wr-link-startup a.entity:hover,
.wr-link-incubator a.entity:hover,
.wr-link-vc a.entity:hover {
  background-color: rgba(181, 225, 206, 0.6);
}
a.wr-link-employee,
a.wr-link-employee-av,
a.wr-link-newbie,
a.wr-link-newbie-av,
.wr-link-employee a,
.wr-link-employee-av a,
.wr-link-newbie a,
.wr-link-newbie-av a {
  color: #4095c5;
}
a.wr-link-employee:visited,
a.wr-link-employee-av:visited,
a.wr-link-newbie:visited,
a.wr-link-newbie-av:visited,
.wr-link-employee a:visited,
.wr-link-employee-av a:visited,
.wr-link-newbie a:visited,
.wr-link-newbie-av a:visited {
  color: #bac5ca;
}
a.wr-link-employee:hover,
a.wr-link-employee-av:hover,
a.wr-link-newbie:hover,
a.wr-link-newbie-av:hover,
.wr-link-employee a:hover,
.wr-link-employee-av a:hover,
.wr-link-newbie a:hover,
.wr-link-newbie-av a:hover {
  color: #1f4d66;
}
a.wr-link-employee.entity,
a.wr-link-employee-av.entity,
a.wr-link-newbie.entity,
a.wr-link-newbie-av.entity,
.wr-link-employee a.entity,
.wr-link-employee-av a.entity,
.wr-link-newbie a.entity,
.wr-link-newbie-av a.entity {
  color: #4095c5;
  background-color: rgba(201, 222, 234, 0.3);
  border: 1px solid rgba(64, 149, 197, 0.2);
}
a.wr-link-employee.entity:hover,
a.wr-link-employee-av.entity:hover,
a.wr-link-newbie.entity:hover,
a.wr-link-newbie-av.entity:hover,
.wr-link-employee a.entity:hover,
.wr-link-employee-av a.entity:hover,
.wr-link-newbie a.entity:hover,
.wr-link-newbie-av a.entity:hover {
  background-color: rgba(201, 222, 234, 0.6);
}
a.wr-link-investor,
a.wr-link-investor-av,
a.wr-link-angel-investor,
a.wr-link-angel-investor-av,
a.wr-link-funding,
a.wr-link-series-a,
a.wr-link-series-b,
a.wr-link-series-c,
a.wr-link-series-d,
.wr-link-investor a,
.wr-link-investor-av a,
.wr-link-angel-investor a,
.wr-link-angel-investor-av a,
.wr-link-funding a,
.wr-link-series-a a,
.wr-link-series-b a,
.wr-link-series-c a,
.wr-link-series-d a {
  color: #9968dc;
}
a.wr-link-investor:visited,
a.wr-link-investor-av:visited,
a.wr-link-angel-investor:visited,
a.wr-link-angel-investor-av:visited,
a.wr-link-funding:visited,
a.wr-link-series-a:visited,
a.wr-link-series-b:visited,
a.wr-link-series-c:visited,
a.wr-link-series-d:visited,
.wr-link-investor a:visited,
.wr-link-investor-av a:visited,
.wr-link-angel-investor a:visited,
.wr-link-angel-investor-av a:visited,
.wr-link-funding a:visited,
.wr-link-series-a a:visited,
.wr-link-series-b a:visited,
.wr-link-series-c a:visited,
.wr-link-series-d a:visited {
  color: #e1dbe9;
}
a.wr-link-investor:hover,
a.wr-link-investor-av:hover,
a.wr-link-angel-investor:hover,
a.wr-link-angel-investor-av:hover,
a.wr-link-funding:hover,
a.wr-link-series-a:hover,
a.wr-link-series-b:hover,
a.wr-link-series-c:hover,
a.wr-link-series-d:hover,
.wr-link-investor a:hover,
.wr-link-investor-av a:hover,
.wr-link-angel-investor a:hover,
.wr-link-angel-investor-av a:hover,
.wr-link-funding a:hover,
.wr-link-series-a a:hover,
.wr-link-series-b a:hover,
.wr-link-series-c a:hover,
.wr-link-series-d a:hover {
  color: #5825a0;
}
a.wr-link-investor.entity,
a.wr-link-investor-av.entity,
a.wr-link-angel-investor.entity,
a.wr-link-angel-investor-av.entity,
a.wr-link-funding.entity,
a.wr-link-series-a.entity,
a.wr-link-series-b.entity,
a.wr-link-series-c.entity,
a.wr-link-series-d.entity,
.wr-link-investor a.entity,
.wr-link-investor-av a.entity,
.wr-link-angel-investor a.entity,
.wr-link-angel-investor-av a.entity,
.wr-link-funding a.entity,
.wr-link-series-a a.entity,
.wr-link-series-b a.entity,
.wr-link-series-c a.entity,
.wr-link-series-d a.entity {
  color: #9968dc;
  background-color: rgba(225, 213, 242, 0.3);
  border: 1px solid rgba(153, 104, 220, 0.2);
}
a.wr-link-investor.entity:hover,
a.wr-link-investor-av.entity:hover,
a.wr-link-angel-investor.entity:hover,
a.wr-link-angel-investor-av.entity:hover,
a.wr-link-funding.entity:hover,
a.wr-link-series-a.entity:hover,
a.wr-link-series-b.entity:hover,
a.wr-link-series-c.entity:hover,
a.wr-link-series-d.entity:hover,
.wr-link-investor a.entity:hover,
.wr-link-investor-av a.entity:hover,
.wr-link-angel-investor a.entity:hover,
.wr-link-angel-investor-av a.entity:hover,
.wr-link-funding a.entity:hover,
.wr-link-series-a a.entity:hover,
.wr-link-series-b a.entity:hover,
.wr-link-series-c a.entity:hover,
.wr-link-series-d a.entity:hover {
  background-color: rgba(225, 213, 242, 0.6);
}
a.wr-link-jobs,
.wr-link-jobs a {
  color: #8b572a;
}
a.wr-link-jobs:visited,
.wr-link-jobs a:visited {
  color: #a8998d;
}
a.wr-link-jobs:hover,
.wr-link-jobs a:hover {
  color: #291a0c;
}
a.wr-link-jobs.entity,
.wr-link-jobs a.entity {
  color: #8b572a;
  background-color: rgba(217, 205, 194, 0.3);
  border: 1px solid rgba(139, 87, 42, 0.2);
}
a.wr-link-jobs.entity:hover,
.wr-link-jobs a.entity:hover {
  background-color: rgba(217, 205, 194, 0.6);
}
a.wr-link-spruce,
.wr-link-spruce a {
  color: #10988b;
}
a.wr-link-spruce:visited,
.wr-link-spruce a:visited {
  color: #68c0b7;
}
a.wr-link-spruce:hover,
.wr-link-spruce a:hover {
  color: #042522;
}
a.wr-link-spruce.entity,
.wr-link-spruce a.entity {
  color: #10988b;
  background-color: rgba(186, 222, 218, 0.3);
  border: 1px solid rgba(16, 152, 139, 0.2);
}
a.wr-link-spruce.entity:hover,
.wr-link-spruce a.entity:hover {
  background-color: rgba(186, 222, 218, 0.6);
}
a.wr-link-red,
.wr-link-red a {
  color: #c61940;
}
a.wr-link-red:visited,
.wr-link-red a:visited {
  color: #cd919f;
}
a.wr-link-red:hover,
.wr-link-red a:hover {
  color: #540b1b;
}
a.wr-link-red.entity,
.wr-link-red a.entity {
  color: #c61940;
  background-color: rgba(234, 189, 200, 0.3);
  border: 1px solid rgba(198, 25, 64, 0.2);
}
a.wr-link-red.entity:hover,
.wr-link-red a.entity:hover {
  background-color: rgba(234, 189, 200, 0.6);
}
a.wr-link-pink,
.wr-link-pink a {
  color: #ff4d82;
}
a.wr-link-pink:visited,
.wr-link-pink a:visited {
  color: #f5d7e0;
}
a.wr-link-pink:hover,
.wr-link-pink a:hover {
  color: #cd003d;
}
a.wr-link-pink.entity,
.wr-link-pink a.entity {
  color: #ff4d82;
  background-color: rgba(252, 204, 219, 0.3);
  border: 1px solid rgba(255, 77, 130, 0.2);
}
a.wr-link-pink.entity:hover,
.wr-link-pink a.entity:hover {
  background-color: rgba(252, 204, 219, 0.6);
}
a.wr-link-orange,
.wr-link-orange a {
  color: #e69d00;
}
a.wr-link-orange:visited,
.wr-link-orange a:visited {
  color: #e0c485;
}
a.wr-link-orange:hover,
.wr-link-orange a:hover {
  color: #664600;
}
a.wr-link-orange.entity,
.wr-link-orange a.entity {
  color: #e69d00;
  background-color: rgba(244, 224, 182, 0.3);
  border: 1px solid rgba(230, 157, 0, 0.2);
}
a.wr-link-orange.entity:hover,
.wr-link-orange a.entity:hover {
  background-color: rgba(244, 224, 182, 0.6);
}
a.wr-link-green,
.wr-link-green a {
  color: #00a35c;
}
a.wr-link-green:visited,
.wr-link-green a:visited {
  color: #4fd39a;
}
a.wr-link-green:hover,
.wr-link-green a:hover {
  color: #002314;
}
a.wr-link-green.entity,
.wr-link-green a.entity {
  color: #00a35c;
  background-color: rgba(181, 225, 206, 0.3);
  border: 1px solid rgba(0, 163, 92, 0.2);
}
a.wr-link-green.entity:hover,
.wr-link-green a.entity:hover {
  background-color: rgba(181, 225, 206, 0.6);
}
a.wr-link-blue,
.wr-link-blue a {
  color: #4095c5;
}
a.wr-link-blue:visited,
.wr-link-blue a:visited {
  color: #bac5ca;
}
a.wr-link-blue:hover,
.wr-link-blue a:hover {
  color: #1f4d66;
}
a.wr-link-blue.entity,
.wr-link-blue a.entity {
  color: #4095c5;
  background-color: rgba(201, 222, 234, 0.3);
  border: 1px solid rgba(64, 149, 197, 0.2);
}
a.wr-link-blue.entity:hover,
.wr-link-blue a.entity:hover {
  background-color: rgba(201, 222, 234, 0.6);
}
a.wr-link-purple,
.wr-link-purple a {
  color: #9968dc;
}
a.wr-link-purple:visited,
.wr-link-purple a:visited {
  color: #e1dbe9;
}
a.wr-link-purple:hover,
.wr-link-purple a:hover {
  color: #5825a0;
}
a.wr-link-purple.entity,
.wr-link-purple a.entity {
  color: #9968dc;
  background-color: rgba(225, 213, 242, 0.3);
  border: 1px solid rgba(153, 104, 220, 0.2);
}
a.wr-link-purple.entity:hover,
.wr-link-purple a.entity:hover {
  background-color: rgba(225, 213, 242, 0.6);
}
a.wr-link-brown,
.wr-link-brown a {
  color: #8b572a;
}
a.wr-link-brown:visited,
.wr-link-brown a:visited {
  color: #a8998d;
}
a.wr-link-brown:hover,
.wr-link-brown a:hover {
  color: #291a0c;
}
a.wr-link-brown.entity,
.wr-link-brown a.entity {
  color: #8b572a;
  background-color: rgba(217, 205, 194, 0.3);
  border: 1px solid rgba(139, 87, 42, 0.2);
}
a.wr-link-brown.entity:hover,
.wr-link-brown a.entity:hover {
  background-color: rgba(217, 205, 194, 0.6);
}
.wr-icon-sm {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
.wr-icon-md {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.wr-icon-lg {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}
.btn-wr-spruce {
  background-color: #10988b;
  border-color: #0e8176;
  color: #ffffff;
}
.btn-wr-spruce:hover {
  border-color: rgba(14, 129, 118, 0.8);
  color: #10988b;
  background-color: rgba(243, 250, 249, 0.9);
}
.btn-wr-spruce:active,
.btn-wr-spruce.active {
  background-color: #10988b;
}
.btn-group > .btn-wr-spruce + .btn-wr-spruce.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-spruce.btn {
  border-color: rgba(16, 152, 139, 0.5);
  color: #10988b;
  background-color: transparent;
}
.btn-wr-red {
  background-color: #af1639;
  border-color: #981332;
  color: #ffffff;
}
.btn-wr-red:hover {
  border-color: rgba(152, 19, 50, 0.8);
  color: #af1639;
  background-color: rgba(251, 243, 245, 0.9);
}
.btn-wr-red:active,
.btn-wr-red.active {
  background-color: #af1639;
}
.btn-group > .btn-wr-red + .btn-wr-red.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-red.btn {
  border-color: rgba(175, 22, 57, 0.5);
  color: #af1639;
  background-color: transparent;
}
.btn-wr-pink {
  background-color: #ff769f;
  border-color: #ff5d8d;
  color: #ffffff;
}
.btn-wr-pink:hover {
  border-color: rgba(255, 93, 141, 0.8);
  color: #ff769f;
  background-color: rgba(255, 248, 250, 0.9);
}
.btn-wr-pink:active,
.btn-wr-pink.active {
  background-color: #ff769f;
}
.btn-group > .btn-wr-pink + .btn-wr-pink.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-pink.btn {
  border-color: rgba(255, 118, 159, 0.5);
  color: #ff769f;
  background-color: transparent;
}
.btn-wr-orange {
  background-color: #ffaf00;
  border-color: #e69d00;
  color: #ffffff;
}
.btn-wr-orange:hover {
  border-color: rgba(230, 157, 0, 0.8);
  color: #ffaf00;
  background-color: rgba(255, 251, 242, 0.9);
}
.btn-wr-orange:active,
.btn-wr-orange.active {
  background-color: #ffaf00;
}
.btn-group > .btn-wr-orange + .btn-wr-orange.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-orange.btn {
  border-color: rgba(255, 175, 0, 0.5);
  color: #ffaf00;
  background-color: transparent;
}
.btn-wr-green {
  background-color: #00d679;
  border-color: #00bd6b;
  color: #ffffff;
}
.btn-wr-green:hover {
  border-color: rgba(0, 189, 107, 0.8);
  color: #00d679;
  background-color: rgba(242, 253, 248, 0.9);
}
.btn-wr-green:active,
.btn-wr-green.active {
  background-color: #00d679;
}
.btn-group > .btn-wr-green + .btn-wr-green.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-green.btn {
  border-color: rgba(0, 214, 121, 0.5);
  color: #00d679;
  background-color: transparent;
}
.btn-wr-blue {
  background-color: #4095c5;
  border-color: #3787b5;
  color: #ffffff;
}
.btn-wr-blue:hover {
  border-color: rgba(55, 135, 181, 0.8);
  color: #4095c5;
  background-color: rgba(245, 250, 252, 0.9);
}
.btn-wr-blue:active,
.btn-wr-blue.active {
  background-color: #4095c5;
}
.btn-group > .btn-wr-blue + .btn-wr-blue.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-blue.btn {
  border-color: rgba(64, 149, 197, 0.5);
  color: #4095c5;
  background-color: transparent;
}
.btn-wr-purple {
  background-color: #6d22d6;
  border-color: #621fc0;
  color: #ffffff;
}
.btn-wr-purple:hover {
  border-color: rgba(98, 31, 192, 0.8);
  color: #6d22d6;
  background-color: rgba(248, 244, 253, 0.9);
}
.btn-wr-purple:active,
.btn-wr-purple.active {
  background-color: #6d22d6;
}
.btn-group > .btn-wr-purple + .btn-wr-purple.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-purple.btn {
  border-color: rgba(109, 34, 214, 0.5);
  color: #6d22d6;
  background-color: transparent;
}
.btn-wr-brown {
  background-color: #8b572a;
  border-color: #774b24;
  color: #ffffff;
}
.btn-wr-brown:hover {
  border-color: rgba(119, 75, 36, 0.8);
  color: #8b572a;
  background-color: rgba(249, 247, 244, 0.9);
}
.btn-wr-brown:active,
.btn-wr-brown.active {
  background-color: #8b572a;
}
.btn-group > .btn-wr-brown + .btn-wr-brown.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-wr-brown.btn {
  border-color: rgba(139, 87, 42, 0.5);
  color: #8b572a;
  background-color: transparent;
}
.btn-black {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover {
  border-color: rgba(0, 0, 0, 0.8);
  color: #000000;
  background-color: rgba(242, 242, 242, 0.9);
}
.btn-black:active,
.btn-black.active {
  background-color: #000000;
}
.btn-group > .btn-black + .btn-black.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-black.btn {
  border-color: rgba(0, 0, 0, 0.5);
  color: #000000;
  background-color: transparent;
}
.btn-white {
  background-color: #ffffff;
  border-color: #999999;
  color: #000000;
}
.btn-white:hover {
  border-color: rgba(153, 153, 153, 0.8);
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
}
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
}
.btn-group > .btn-white + .btn-white.dropdown-toggle {
  margin-left: -1px;
}
.wr-navbar .btn-white.btn {
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  background-color: transparent;
}
.btn-white:hover {
  background-color: #999;
}
.jumbotron {
  background-position: center center;
  background-size: cover;
}
.jumbotron.wr-jumbotron {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #f2f5f5;
  position: relative;
  font-weight: normal;
}
@media (max-width: 991px) {
  .jumbotron.wr-jumbotron {
    padding: 30px 0;
  }
}
.jumbotron.wr-jumbotron h1,
.jumbotron.wr-jumbotron .h1 {
  font-style: italic;
  text-align: center;
  margin: 0.5em auto;
  text-rendering: optimizeLegibility;
  max-width: 14em;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron.wr-jumbotron h1,
  .jumbotron.wr-jumbotron .h1 {
    font-size: 59px;
  }
}
@media (min-width: 992px) {
  .jumbotron.wr-jumbotron h1,
  .jumbotron.wr-jumbotron .h1 {
    font-size: 78px;
    letter-spacing: 7px;
  }
}
.jumbotron.wr-jumbotron .lead {
  max-width: 30em;
  margin: 0 auto;
}
.jumbotron.wr-jumbotron form {
  margin: 1.5em auto 0;
  max-width: 30em;
}
.jumbotron.wr-jumbotron .input-group .form-control:not(:first-child),
.jumbotron.wr-jumbotron .input-group .input-group-addon:not(:first-child) {
  border-left-style: none;
}
.jumbotron.wr-jumbotron .input-group .form-control:not(:last-child),
.jumbotron.wr-jumbotron .input-group .input-group-addon:not(:last-child) {
  border-right-style: none;
}
.jumbotron.wr-jumbotron .image-credit {
  font-size: 11px;
  position: absolute;
  right: 1em;
  bottom: 1em;
  opacity: 0.4;
  color: #92aaa7;
  -webkit-transition: opacity 0.15s ease-in-out, text-shadow 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, text-shadow 0.15s ease-in-out;
}
.jumbotron.wr-jumbotron .image-credit a:link,
.jumbotron.wr-jumbotron .image-credit a:visited {
  color: #f2f5f5;
}
.jumbotron.wr-jumbotron:hover .image-credit {
  opacity: 0.9;
}
.jumbotron.wr-jumbotron-blank .form-control,
.jumbotron.wr-jumbotron-blank .input-group-addon,
.jumbotron.wr-jumbotron-blank .form-control:focus,
.jumbotron.wr-jumbotron-blank .input-group-addon:focus {
  border-color: #fff;
}
.jumbotron.wr-jumbotron-lighten {
  box-shadow: 0px 0px 300px 50px rgba(255, 255, 255, 0.6) inset;
}
.jumbotron.wr-jumbotron-dark,
.jumbotron.wr-jumbotron-darken {
  color: #fff;
  background-color: #313f3d;
}
.jumbotron.wr-jumbotron-dark .form-control::-moz-placeholder,
.jumbotron.wr-jumbotron-darken .form-control::-moz-placeholder,
.jumbotron.wr-jumbotron-dark .input-group-addon::-moz-placeholder,
.jumbotron.wr-jumbotron-darken .input-group-addon::-moz-placeholder {
  color: rgba(242, 245, 245, 0.95);
  opacity: 1;
}
.jumbotron.wr-jumbotron-dark .form-control:-ms-input-placeholder,
.jumbotron.wr-jumbotron-darken .form-control:-ms-input-placeholder,
.jumbotron.wr-jumbotron-dark .input-group-addon:-ms-input-placeholder,
.jumbotron.wr-jumbotron-darken .input-group-addon:-ms-input-placeholder {
  color: rgba(242, 245, 245, 0.95);
}
.jumbotron.wr-jumbotron-dark .form-control::-webkit-input-placeholder,
.jumbotron.wr-jumbotron-darken .form-control::-webkit-input-placeholder,
.jumbotron.wr-jumbotron-dark .input-group-addon::-webkit-input-placeholder,
.jumbotron.wr-jumbotron-darken .input-group-addon::-webkit-input-placeholder {
  color: rgba(242, 245, 245, 0.95);
}
.jumbotron.wr-jumbotron-dark .form-control:focus,
.jumbotron.wr-jumbotron-darken .form-control:focus,
.jumbotron.wr-jumbotron-dark .input-group-addon:focus,
.jumbotron.wr-jumbotron-darken .input-group-addon:focus {
  border-color: transparent;
}
.jumbotron.wr-jumbotron-dark .form-control:focus::-moz-placeholder,
.jumbotron.wr-jumbotron-darken .form-control:focus::-moz-placeholder,
.jumbotron.wr-jumbotron-dark .input-group-addon:focus::-moz-placeholder,
.jumbotron.wr-jumbotron-darken .input-group-addon:focus::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron-dark .form-control:focus:-ms-input-placeholder,
.jumbotron.wr-jumbotron-darken .form-control:focus:-ms-input-placeholder,
.jumbotron.wr-jumbotron-dark .input-group-addon:focus:-ms-input-placeholder,
.jumbotron.wr-jumbotron-darken .input-group-addon:focus:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron-dark .form-control:focus::-webkit-input-placeholder,
.jumbotron.wr-jumbotron-darken .form-control:focus::-webkit-input-placeholder,
.jumbotron.wr-jumbotron-dark .input-group-addon:focus::-webkit-input-placeholder,
.jumbotron.wr-jumbotron-darken .input-group-addon:focus::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron-darken {
  box-shadow: 0px 0px 500px 100px rgba(0, 0, 0, 0.6) inset;
}
.jumbotron.wr-jumbotron .jumbotron-overlay {
  background-color: rgba(242, 245, 245, 0.4);
  padding: 9.375px 9.375px 4.6875px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .jumbotron.wr-jumbotron .jumbotron-overlay {
    margin: 48px -30px 18.75px -30px;
    padding: 9.375px 30px 30px;
  }
}
.jumbotron.wr-jumbotron .jumbotron-overlay .form-control::-moz-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay .input-group-addon::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron .jumbotron-overlay .form-control:-ms-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay .input-group-addon:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay .form-control::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay .input-group-addon::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay .form-control:focus::-moz-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay .input-group-addon:focus::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron .jumbotron-overlay .form-control:focus:-ms-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay .input-group-addon:focus:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay .form-control:focus::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay .input-group-addon:focus::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay .btn,
.jumbotron.wr-jumbotron .jumbotron-overlay .btn:hover {
  border-color: transparent;
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark {
  background-color: rgba(242, 245, 245, 0.4);
  padding: 9.375px 9.375px 4.6875px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .jumbotron.wr-jumbotron .jumbotron-overlay-dark {
    margin: 48px -30px 18.75px -30px;
    padding: 9.375px 30px 30px;
  }
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control::-moz-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:-ms-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:focus::-moz-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:focus::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:focus:-ms-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:focus:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:focus::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:focus::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .btn,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .btn:hover {
  border-color: transparent;
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control::-moz-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon::-moz-placeholder {
  color: rgba(242, 245, 245, 0.95);
  opacity: 1;
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:-ms-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:-ms-input-placeholder {
  color: rgba(242, 245, 245, 0.95);
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon::-webkit-input-placeholder {
  color: rgba(242, 245, 245, 0.95);
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:focus,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:focus {
  border-color: transparent;
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:focus::-moz-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:focus::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:focus:-ms-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:focus:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .form-control:focus::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .jumbotron-overlay-dark .input-group-addon:focus::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .wr-search-bar {
  background-color: rgba(242, 245, 245, 0.4);
  padding: 9.375px 9.375px 4.6875px;
  margin-bottom: 0;
  background-color: rgba(16, 152, 139, 0.85);
  padding: 9.375px;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .jumbotron.wr-jumbotron .wr-search-bar {
    margin: 48px -30px 18.75px -30px;
    padding: 9.375px 30px 30px;
  }
}
.jumbotron.wr-jumbotron .wr-search-bar .form-control::-moz-placeholder,
.jumbotron.wr-jumbotron .wr-search-bar .input-group-addon::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron .wr-search-bar .form-control:-ms-input-placeholder,
.jumbotron.wr-jumbotron .wr-search-bar .input-group-addon:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .wr-search-bar .form-control::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .wr-search-bar .input-group-addon::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .wr-search-bar .form-control:focus::-moz-placeholder,
.jumbotron.wr-jumbotron .wr-search-bar .input-group-addon:focus::-moz-placeholder {
  color: rgba(146, 170, 167, 0.9);
  opacity: 1;
}
.jumbotron.wr-jumbotron .wr-search-bar .form-control:focus:-ms-input-placeholder,
.jumbotron.wr-jumbotron .wr-search-bar .input-group-addon:focus:-ms-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .wr-search-bar .form-control:focus::-webkit-input-placeholder,
.jumbotron.wr-jumbotron .wr-search-bar .input-group-addon:focus::-webkit-input-placeholder {
  color: rgba(146, 170, 167, 0.9);
}
.jumbotron.wr-jumbotron .wr-search-bar .btn,
.jumbotron.wr-jumbotron .wr-search-bar .btn:hover {
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .jumbotron.wr-jumbotron .wr-search-bar {
    padding: 9.375px;
  }
}
.jumbotron.wr-jumbotron .wr-search-bar form {
  max-width: 60em;
  margin: 0 auto;
  position: relative;
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field {
  border-radius: 32px;
  border-color: rgba(242, 245, 245, 0.7);
  background-color: transparent;
  padding-left: 0.9em;
  color: #fff;
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field::-moz-placeholder {
  color: rgba(242, 245, 245, 0.7);
  opacity: 1;
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field:-ms-input-placeholder {
  color: rgba(242, 245, 245, 0.7);
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field::-webkit-input-placeholder {
  color: rgba(242, 245, 245, 0.7);
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field:focus::-moz-placeholder {
  color: rgba(242, 245, 245, 0.4);
  opacity: 1;
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field:focus:-ms-input-placeholder {
  color: rgba(242, 245, 245, 0.4);
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field:focus::-webkit-input-placeholder {
  color: rgba(242, 245, 245, 0.4);
}
.jumbotron.wr-jumbotron .wr-search-bar form .search-bar-submit {
  border-radius: 32px;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-submit {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field {
    font-size: 26px;
    height: 52px;
    display: inline;
    padding-right: 5em;
  }
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field:focus + .search-bar-submit {
    visibility: visible;
    opacity: 0;
  }
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field:valid + .search-bar-submit,
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field:focus:valid + .search-bar-submit {
    visibility: visible;
    opacity: 1.0;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
  }
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-submit {
    font-size: 26px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    color: rgba(242, 245, 245, 0.85);
    border-color: transparent;
    padding-left: 0.9em;
    padding-right: 0.9em;
    visibility: hidden;
  }
}
@media screen and (min-width: 992px) {
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-field {
    font-size: 32px;
    height: 64px;
  }
  .jumbotron.wr-jumbotron .wr-search-bar form .search-bar-submit {
    font-size: 32px;
    height: 62px;
  }
}
.wr-navbar {
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(146, 170, 167, 0.5);
  height: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wr-navbar .container {
    padding: 0;
    margin: 0 auto;
  }
}
.wr-navbar .navbar-brand {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #232c2b;
}
.wr-navbar .navbar-header {
  border-bottom: 2px solid transparent;
}
.wr-navbar .navbar-nav > li > a {
  border-bottom: 0px solid #10988b;
  -webkit-transition: border-bottom 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: border-bottom 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.9em;
}
.wr-navbar .navbar-nav > li > a:hover {
  border-bottom-width: 3px;
}
.wr-navbar .navbar-nav > li.active > a {
  color: #232c2b;
  background-color: rgba(16, 152, 139, 0.2);
  border-bottom-width: 3px;
  -webkit-transition: border-bottom 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: border-bottom 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.wr-navbar .form-control,
.wr-navbar .input-group-addon,
.wr-navbar .btn {
  margin-left: 0.5em;
}
.wr-navbar .form-control:first-child,
.wr-navbar .input-group-addon:first-child,
.wr-navbar .btn:first-child {
  margin-left: 0;
}
.wr-navbar + .container {
  margin-top: 3em;
}
.navbar-link,
.navbar-link .navbar-default * {
  padding-bottom: 0.125em;
  background-size: 1px 1px;
  text-shadow: 1px 0 transparent, 2px 0 transparent, -1px 0 transparent, -2px 0 transparent;
  background-image: -webkit-linear-gradient(top, transparent 0%, #777777 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #777777 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff777777', GradientType=0);
  background-position: 0 90%;
}
.navbar-link,
.navbar-link .navbar-default *,
.navbar-link:link,
.navbar-link .navbar-default *:link,
.navbar-link:visited,
.navbar-link .navbar-default *:visited,
.navbar-link:hover,
.navbar-link .navbar-default *:hover,
.navbar-link:active,
.navbar-link .navbar-default *:active {
  -webkit-transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
}
.navbar-link:hover,
.navbar-link .navbar-default *:hover,
.navbar-link:active,
.navbar-link .navbar-default *:active {
  background-position: 0 100%;
}
.navbar-link:visited,
.navbar-link .navbar-default *:visited {
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(119, 119, 119, 0.6) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(119, 119, 119, 0.6) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99777777', GradientType=0);
}
.navbar-inverse .navbar-link {
  padding-bottom: 0.125em;
  background-size: 1px 1px;
  text-shadow: 1px 0 transparent, 2px 0 transparent, -1px 0 transparent, -2px 0 transparent;
  background-image: -webkit-linear-gradient(top, transparent 0%, #92aaa7 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #92aaa7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff92aaa7', GradientType=0);
  background-position: 0 90%;
}
.navbar-inverse .navbar-link,
.navbar-inverse .navbar-link:link,
.navbar-inverse .navbar-link:visited,
.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:active {
  -webkit-transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
}
.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:active {
  background-position: 0 100%;
}
.navbar-inverse .navbar-link:visited {
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(146, 170, 167, 0.6) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(146, 170, 167, 0.6) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#9992aaa7', GradientType=0);
}
.social-share-box {
  display: inline-block;
  padding-right: 1em;
}
.social-share-box:not(:last-child) {
  float: left;
}
body > footer {
  display: block;
  color: #506563;
  background-color: #f2f5f5;
  font-size: 13px;
  margin: 0;
  padding: 1.75em 0;
}
body > footer a {
  padding-bottom: 0.125em;
  background-size: 1px 1px;
  text-shadow: 1px 0 #f2f5f5, 2px 0 #f2f5f5, -1px 0 #f2f5f5, -2px 0 #f2f5f5;
  background-image: -webkit-linear-gradient(top, transparent 0%, #10988b 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #10988b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff10988b', GradientType=0);
  background-position: 0 90%;
}
body > footer a,
body > footer a:link,
body > footer a:visited,
body > footer a:hover,
body > footer a:active {
  -webkit-transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out, color 0.15s ease-in-out;
}
body > footer a:hover,
body > footer a:active {
  background-position: 0 100%;
}
body > footer a:visited {
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(16, 152, 139, 0.6) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(16, 152, 139, 0.6) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#9910988b', GradientType=0);
}
/*# sourceMappingURL=components.css.map */