// ==================== alerts.less

a.alert-link {
	.alert-success & {
		.fancy-underline(@state-success-bg; fadeout(@state-success-text,30%));
	}
	.alert-info & {
		.fancy-underline(@state-info-bg; fadeout(@state-info-text,30%));
	}
	.alert-warning & {
		.fancy-underline(@state-warning-bg; fadeout(@state-warning-text,30%));
	}
	.alert-danger & {
		.fancy-underline(@state-danger-bg; fadeout(@state-danger-text,30%));
	}
}

// ==================== badges.less

.badge {
	.font-feature-settings("lnum" 1);
	.font-smoothing;
	padding-top: 4px;
}

// ==================== breadcrumbs.less

.breadcrumb {
	a {
		.fancy-underline(@breadcrumb-bg);
	}
}

// ==================== buttons.less

@btn-border-colour: fadeout(mix(@brand-primary, white),10%);
@btn-border: 1px solid @btn-border-colour;

.btn {

	&:not(.btn-link) {
		border-width: 1px;
		border-style: solid;
		font-family: @font-family-sans-serif;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		.wr-transition(box-shadow);
		.wr-transition(text-shadow);
		.wr-transition(color);
		.wr-transition(background-color);
		.wr-transition(border-color);
		.font-feature-settings("lnum" 1);

		&:hover {
			text-shadow: 0 0 10px @btn-primary-color;
			.wr-transition(box-shadow);
			.wr-transition(text-shadow);
			.wr-transition(color);
			.wr-transition(background-color);
			.wr-transition(border-color);
		}
		
		&:active,
		&.active {
			color: @btn-primary-color;
			.btn-active-box-shadow;
			.wr-transition(box-shadow);
			.wr-transition(text-shadow);
			.wr-transition(color);
			.wr-transition(background-color);
			.wr-transition(border-color);
			border-color: @btn-active-box-shadow-colour;
		}
	}

	&-default {
		background-color: fadeout(mix(@brand-primary,@btn-primary-color,15%),10%);
		color: @brand-primary;
		border-color: fadeout(mix(@brand-primary,@btn-primary-color,50%),50%);

		&:hover {
			border-color: fadeout(@brand-primary,15%);
			color: @brand-primary;
			background-color: fadeout(mix(@brand-primary,@btn-primary-color,5%),10%);
		}

		&:active,
		&.active {
			background-color: mix(@brand-primary,@btn-primary-color);
		}

		.btn-group > & + &.dropdown-toggle {
			margin-left: -1px;
		}

		.wr-navbar-btn-variant(@navbar-border-color: fadeout(@brand-primary,70%));
	}

	&-primary {
		.wr-btn-variant();
	}

	&-success {
		.wr-btn-variant(@btn-success-bg,@btn-success-border);
	}

	&-info {
		.wr-btn-variant(@btn-info-bg,@btn-info-border);
	}


	&-warning {
		.wr-btn-variant(@btn-warning-bg,@btn-warning-border);
	}

	&-danger {
		.wr-btn-variant(@btn-danger-bg,@btn-danger-border);
	}
}

.btn-group {

	&,
	&-vertical,
	&-justified {
		// background-color: @btn-border-colour;
		border-radius: @border-radius-base;

		&.btn-group-lg {
			border-radius: @border-radius-large;
		}
	}

	> .btn + .btn,
	> .btn-group + .btn,
	> .btn + .btn-group,
	> .btn-group + .btn-group {
	    margin: 0 0 0 1px;
	}

	&-vertical {

		> .btn + .btn,
		> .btn-group + .btn,
		> .btn + .btn-group,
		> .btn-group + .btn-group {
		    margin: 1px 0 0 0;
		}
	}

	&-justified {
		border-spacing: 1px 0;
		// #gradient > .horizontal-four-colors(@brand-primary; @btn-border-colour;3%; @btn-border-colour;97%; @brand-primary);
	}
}

.open.btn-group,
.open.btn-group-vertical,
.open.btn-group-justified {
	> .btn.dropdown-toggle {
		.btn-active-box-shadow;
		color: @btn-primary-color;
		// background-color: fadeout(@brand-primary,10%);
		background-color: @brand-primary;

		&:hover {
			text-shadow: none;
		}
	}

	.dropup & {
		.dropdown-toggle,
		.dropdown-toggle:active,
		.dropdown-toggle.active {
			box-shadow: 0 -5em 1px 0 rgba(0,0,0,0.5) inset; // reverse direction of transition
		}
	}
}

.open.btn-group {
	> .btn.dropdown-toggle {
		border: 1px solid rgba(0,0,0,0.5)
	}
}

.btn.btn-default {

// 	.btn-group > & + & {
// 		margin-left: -1px;
// 	}

// 	.btn-group-vertical > & + & {
// 		margin-top: -1px;
// 	}

// 	.btn-group > .btn + &,
// 	.btn-group > & + .btn {
// 		margin-left: -1px;
// 	}

// 	.btn-group-vertical > .btn + &,
// 	.btn-group-vertical > & + .btn {
// 		margin-top: -1px;
// 	}

// 	.btn-group > & + .btn-group > & {
// 		margin-left: -2px;
// 	}

// 	.btn-group-vertical > & + .btn-group > & {
// 		margin-top: -2px;
// 	}

	// .btn-group & + &.btn.dropdown-toggle,
	// .input-group-btn & + &.btn.dropdown-toggle {
	// 	margin-left: -1px;
	// }
}

// ==================== dropdowns.less

.dropdown-menu {
	.font-smoothing;
	box-shadow: none;
	border-style: none;
	.wr-transition(display);

	.divider {
		margin: ((@line-height-computed / 3) - 1px) 0;
	}
}

// .dropdown-header {
// 	.sans-serif-small-caps;
// 	font-weight: bold;
// 	font-size: (@font-size-small * 0.9);
// }

// ==================== forms.less

.form-control,
.input-group-addon {
	background-color: fadeout(@gray-lighter,30%);
	border-color: transparent;
	box-shadow: none;
	.wr-transition(background-color);
	.wr-transition(border-color);
	.wr-transition(color);
	.wr-transition(box-shadow);
	.placeholder(fadeout(@grey-light,10%));
	color: @grey-darker;

	&:focus {
		background-color: fadeout(@input-bg,10%);
		// .box-shadow(0 0 5px fadeout(@brand-primary,60%));
		box-shadow: none;
		border-style: solid;
		// border-color: fadeout(@gray-lighter,10%);
		border-color: fadeout(@brand-primary,30%);
		.wr-transition(background-color);
		.wr-transition(border-color);
		.wr-transition(color);
		.wr-transition(box-shadow);
	}
}

.form-control {
	.font-smoothing;
}

input[type="search"] {
	border-radius: (@input-height-base / 2); // round ends

	&.input-lg {
		border-radius: (@input-height-large / 2);
	}

	&.input-sm {
		border-radius: (@input-height-small / 2);
	}
}

// textarea {
// 	.serif;
// 	font-size: @font-size-base;
// 	-webkit-font-smoothing: subpixel-antialiased;
// }

// ==================== glyphicons.less

.glyphicon {
	// font-size: 85%;
	top: 3px;

	.btn & {
		opacity: 0.85;
	}
}

// ==================== grid.less

@row-gutter-height: ceil((@grid-gutter-width * 1.5));

// .make-row {
// 	&:first-of-type {
// 		padding-top: @row-gutter-height;
// 	}
// }

section.row,
main.row {
	padding: @row-gutter-height*0.25 0 @row-gutter-height;
}

section.row {
	border-top: 1px solid @gray-lighter;

	&:first-of-type {
		border-top-style: none;
	}

	&:last-of-type {
		padding-bottom: @row-gutter-height;
	}

	+ main.row {
		border-top: 1px solid @gray-lighter;
	}
}

// ==================== input-groups.less

.input-group {

	> .input-group-btn {

		> .btn,
		> .btn-group {
			margin: 0;

			&:hover {
				margin: 0;
			}
		}

		// &:not(:first-child) .btn,
		// &:not(:first-child) .btn-group,
		// &:first-child .btn:not(:first-child),
		// &:first-child .btn-group:not(:first-child)
		> .btn:not(:first-child),
		> .btn-group:not(:first-child) {
			border-left: @btn-border;
		}

		// for buttons immediately following text boxes
		&:first-of-type:not(:first-child) .btn:first-of-type,
		&:first-of-type:not(:first-child) .btn-group:first-of-type {
			margin-left: 1px;
			border-left-style: none;
		}

		// for buttons immediately preceding text boxes
		&:last-of-type:not(:last-child) .btn:last-of-type,
		&:last-of-type:not(:last-child) .btn-group:last-of-type {
			margin-right: 1px;
			border-right-style: none;
		}
	}

	> .input-group-addon {
		background-color: fadeout(@gray-light, 50%);
	}

	.form-horizontal & {
		width: 100%;
	}

	input.form-control:not(:only-of-type) {

		border-radius: 0; // reset border radii
		margin: 0;

		&:first-of-type {
			.border-top-radius(@border-radius-base);
		}

		&:not(:first-of-type):not(:last-of-type) {
			margin-left: 1px;
			margin-right: 1px;
		}

		&:not(:last-of-type) {
			margin-bottom: 2px;

			&:focus {
				z-index: 10; // fix for focus highlighting
			}
		}

		&:last-of-type {
			.border-bottom-radius(@border-radius-base);
		}
	}
}

// ==================== jumbotron.less

.jumbotron.wr-jumbotron {

	.hero-type();

	background-color: @grey-lighter;
	background-position: center center;
	background-size: cover;
	position: relative;
	font-weight: normal;

	@media (max-width: @screen-sm-max) {
		padding: @jumbotron-padding 0;
	}

	h1,
	.h1 {
		font-style: italic;
		text-align: center;
		margin: 0.5em auto;
		text-rendering: optimizeLegibility;
		max-width: 14em;

		// serif variant
		// .serif();
		// font-size: ceil((@font-size-h1 * 2.5));
		// line-height: 0.95;

		// serif small-caps
		// .font-feature-settings("smcp" 1);
		// text-transform: lowercase;
		// font-weight: 300;
		// letter-spacing: 4px;

		font-weight: 200; // Fort Extralight
		text-transform: uppercase;

		font-size: @font-size-h2;
		letter-spacing: 5px;

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			font-size: ceil((@font-size-h1 * 1.5));
		}

		@media (min-width: @screen-md-min) {
			font-size: ceil((@font-size-h1 * 2));
			// font-size: ceil((@font-size-h1 * 1.5));
			letter-spacing: 7px;
		}
	}

	.lead {
		max-width: 30em;
		margin: 0 auto;
	}

	form {
		margin: 1.5em auto 0;
		max-width: 30em;
	}

	.input-group {
		.form-control,
		.input-group-addon {
			&:not(:first-child) {
				border-left-style: none;
			}

			&:not(:last-child) {
				border-right-style: none;
			}
		}
	}

	.image-credit {
		font-size: ceil(@font-size-base * 0.7);
		position: absolute;
		right: 1em;
		bottom: 1em;
		opacity: 0.4;
		color: @grey-light;

		.wr-transition(opacity);
		.wr-transition(text-shadow);

		a {
			&:link,
			&:visited {
				color: @grey-lighter;
			}
		}
	}

	&:hover .image-credit {
		opacity: 0.9;
	}

	&-blank {

		.form-control,
		.input-group-addon {
			&,
			&:focus {
				border-color: #fff;
			}
		}
	}

	&-lighten {
		box-shadow: 0px 0px 300px 50px rgba(255,255,255,.6) inset;
	}

	&-dark,
	&-darken {
		color: #fff;
		background-color: @gray-dark;

		.form-control,
		.input-group-addon {
			.input-inverse;
		}
	}

	&-darken {
		// text-shadow: @carousel-text-shadow;
		box-shadow: 0px 0px 500px 100px rgba(0,0,0,.6) inset;
	}

	.jumbotron-overlay {
		background-color: fadeout(@grey-lighter,60%);
		padding: (@jumbotron-padding / 3.2) (@jumbotron-padding / 3.2) (@jumbotron-padding / 6.4);
		margin-bottom: 0;

		@media screen and (min-width: @screen-sm-min) {
			// margin: (@jumbotron-padding * 1.6) -(@jumbotron-padding) -(@jumbotron-padding * 1.6) -(@jumbotron-padding);
			margin: (@jumbotron-padding * 1.6) -(@jumbotron-padding) (@jumbotron-padding / 1.6) -(@jumbotron-padding);
			padding: (@jumbotron-padding / 3.2) @jumbotron-padding @jumbotron-padding;
		}

		.form-control,
		.input-group-addon {
			.input-default;
		}

		.btn,
		.btn:hover {
			border-color: transparent;
		}
	}

	.jumbotron-overlay-dark {
		.jumbotron-overlay;
		background-color: fadeout(#000,70%);
		color: #fff;

		.form-control,
		.input-group-addon {
			.input-inverse;
		}
	}

	.wr-search-bar {
		.jumbotron-overlay;
		background-color: fadeout(@brand-primary,15%);
		padding: (@jumbotron-padding / 3.2);
		font-weight: normal;

		@media screen and (min-width: @screen-sm-min) {
			padding: (@jumbotron-padding / 3.2);
		}

		form {
			max-width: 60em;
			margin: 0 auto;
			position: relative;

			// .form-group {
			// 	margin-bottom: 0;
			// }

			// .form-control,
			// .input-group-addon {
			// 	.input-ghost;
			// }

			.search-bar-field {
				border-radius: @font-size-h2;
				border-color: fadeout(@grey-lighter, 30%);
				background-color: transparent;
				padding-left: 0.9em;
				color: #fff;
				.placeholder(fadeout(@grey-lighter, 30%));

				&:focus {
					.placeholder(fadeout(@grey-lighter, 60%));
				}
			}

			.search-bar-submit {
				border-radius: @font-size-h2;
				background-color: transparent;
			}

			@media screen and (max-width: @screen-xs-max) {
				.search-bar-submit {
					.sr-only;
				}
			}

			@media screen and (min-width: @screen-sm-min) {

				.search-bar-field {
					font-size: @font-size-h3;
					height: (@font-size-h3 * 2);
					display: inline;
					padding-right: 5em;

					&:focus + .search-bar-submit {
						visibility: visible;
						opacity: 0;
					}

					&:valid + .search-bar-submit,
					&:focus:valid + .search-bar-submit {
						visibility: visible;
						opacity: 1.0;
						.wr-transition(opacity);
					}
				}

				.search-bar-submit {
					font-size: @font-size-h3;
					height: ((@font-size-h3 * 2) - 2);
					position: absolute;
					top: 1px;
					right: 1px;
					// font-weight: normal;
					color: fadeout(@grey-lighter,15%);
					border-color: transparent;
					padding-left: 0.9em;
					padding-right: 0.9em;

					visibility: hidden;
				}
			}

			@media screen and (min-width: @screen-md-min) {	
				.search-bar-field {
					font-size: @font-size-h2;
					height: (@font-size-h2 * 2);
				}

				.search-bar-submit {
					font-size: @font-size-h2;
					height: ((@font-size-h2 * 2) - 2);
				}
			}
		}
	}
}

// ==================== labels.less

.label {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

// ==================== navbar.less

body>.navbar+* {
	margin-top: 0;
}

body>.navbar.affix+* {
	margin-top: (@navbar-height * 2);
}

// body>.navbar+.jumbotron {
// 	padding-top: (@navbar-height * 4);
// 	height: 500px + (@navbar-height * 4);
// }

.navbar-inverse input {
	.input-inverse;
}

.wr-navbar {
	.font-smoothing;
	border-radius: 0;
	border-style: none;
	background-color: fadeout(#fff,5%);
	box-shadow: 0 1px 2px fadeout(@grey-light,50%);
	height: (@navbar-height * 2);

	@media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
		.container {
			padding: 0;
			margin: 0 auto;
		}
	}

	// &,
	// &.affix-top {
	// 	height: ((@navbar-height + 2) * 2);
	// 	.wr-transition(height);
	// }

	// &.affix {
	// 	height: (@navbar-height + 2);
	// 	.navbar-fixed-top;
	// 	.wr-transition(height);
	// }

	.navbar-brand {
		.hero-type;
		color: @grey-darker;
	}

	// .active>a {
	// 	margin-top: 5px;
	// 	margin-bottom: 0;
	// 	padding-top: 5px;
	// 	padding-bottom: 5px;
	// 	border: 1px solid white;
	// 	background-color: fadeout(@grey, 50%);
	// }

	.navbar-header {
		border-bottom: (3px - 1) solid transparent;
	}

	.navbar-nav {
		> li > a {
			border-bottom: 0px solid @brand-primary;
			.wr-transition(border-bottom);
			.wr-transition(color);
			.wr-transition(background-color);
			.sans-serif-small-caps;
			font-weight: bold;
			font-size: 0.9em;

			&:hover {
				border-bottom-width: 3px;
			}
		}

		> li.active > a {
			color: @grey-darker;
			background-color: fadeout(@brand-primary,80%);
			border-bottom-width: 3px;
			.wr-transition(border-bottom);
			.wr-transition(color);
			.wr-transition(background-color);
		}
	}

	// .form-control {
	// 	// border-color: #fff;
	// 	border-color: @grey-lighter;
	// 	background-color: transparent;

	// 	&:focus {
	// 		// border-color: #fff;
	// 		border-color: @grey-lighter;
	// 	}
	// }

	+ .container {
		margin-top: 3em;
	}

	.navbar-form {
		.form-control,
		.input-group-addon {
			margin: 0 1em;
		}
	}
}

.navbar-link {

	&,
	.navbar-default * {
		.fancy-underline(@background-colour: transparent; @underline-colour: @navbar-default-link-color);
	}

	.navbar-inverse & {
		.fancy-underline(@background-colour: transparent; @underline-colour: @navbar-inverse-link-color);
	}
}

// ==================== navs.less

.wr-nav-vertical {
	.nav-pills;
	.nav-stacked;

	.sans-serif-small-caps;
	font-weight: bold;
	font-size: @font-size-small;
	-webkit-font-smoothing: antialiased;
	line-height: 1;

	> li {

		// white-space: nowrap;

		> a {
			color: @grey-light;
			.wr-transition(background-color);

			&:active,
			&.active {
				background-color: fadeout(@brand-primary, 70%);
			}

			> .wr-icon {
				vertical-align: text-bottom;
				margin: 0 0.5em 0 0;
			}
		}

		&.active > a {
			border-color: @nav-pills-active-link-hover-bg;
		}

		small,
		.small {
			font-weight: normal;
			font-size: 1em;
		}
	}

	// li:not(:first-child) {
	// 	border-top: 1px solid @nav-tabs-border-color;
	// 	padding-top: 2px;
	// }
}

// ==================== pagination.less

.pagination {
	.tabular-lining;
}

// ==================== panels.less

.panel {
	margin: (@line-height-computed / 2) 0;
	.box-shadow(none);
}

// ==================== progress-bars.less

.progress {
	// border-bottom: 2px solid @progress-bg;
	// border-radius: 0;
	box-shadow: none;

	* {
	// 	background-color: transparent;
	// 	border-radius: 0;
		box-shadow: none;
	}

	.progress-bar {
		// border-bottom: 2px solid @progress-bar-bg;
		// color: @progress-bar-bg;
		text-align: right;
		font-weight: bold;
		padding-right: 0.5em;
		.font-feature-settings("lnum" 1);
		.font-smoothing;
	}
}

// ==================== scaffolding.less

::selection {
	background: fadeout(@brand-primary, 70%);
}

::-moz-selection {
	background: fadeout(@brand-primary, 70%);
}

a,
.btn.btn-link {

	&:link,
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
		.wr-transition(color);
		.wr-transition(background-color);
	}

	&:visited {
		color: lighten(desaturate(@link-color,43%),18%);
	}

	&:visited:hover {
		color: @link-hover-color;
	}

	p &,
	&.link {
	// .row & {
		.fancy-underline(@body-bg);
	}
}

a.btn {
	text-shadow: none;
}

// ==================== type.less

@font-size-serif-adjust: 106.25%;
@font-size-sans-adjust: percentage(100/@font-size-serif-adjust);

.serif {

	a:not(:hover) { // for fancy underlines
		background-position: 0 88%;
	}

	p & {
		font-size: @font-size-serif-adjust;
		line-height: @font-size-sans-adjust;
	}

	.sans-serif {
		font-size: @font-size-sans-adjust;
		line-height: @font-size-serif-adjust;
	}

	h1 &, .h1 &, h1&, .h1&,
	h2 &, .h2 &, h2&, .h2&,
	h3 &, .h3 &, h3&, .h3&,
	h4 &, .h4 &, h4&, .h4& {
		.font-feature-settings("lnum" 1);
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	.hero-type();
}

@font-size-lead: ceil((@font-size-base * 1.9));

.lead {

	.hero-type();

	font-weight: normal;
	font-size: (@font-size-lead / 1.3);
	line-height: @line-height-large;
	margin-top: ((@font-size-lead * @line-height-large) / 2);
	margin-bottom: ((@font-size-lead * @line-height-large) / 2);

	&:first-child {
		margin-top: 0;
	}

	@media (min-width: @screen-sm-min) {
		font-size: @font-size-lead;
	}
}

p {
	max-width: 45em; // prevent lines from getting too long
}

blockquote {

	position: relative;

	&:after {
		content: "\201C";
		line-height: 0;
		color: @blockquote-border-color;
		.font-smoothing;
		font-size: ceil(@blockquote-font-size * 6);
		.serif;
		position: absolute;
		left: -0.05em;
		top: 0.45em;
	}

	border-left-style: none;
	padding-left: ceil(@blockquote-font-size * 2.5);

	&.blockquote-reverse {
		&:after {
			content: "\201D";
			right: -0.05em;
		}

		border-right-style: none;
		padding-right: ceil(@blockquote-font-size * 2.5);
	}
}

ol:not(.list-unstyled):not(.breadcrumb) {
	counter-reset: li;
	list-style: none;

	> li {
		position: relative;

		&:before {
			@ol-counter-width: 2em;

		    content: counter(li) ".";
		    counter-increment: li;
		    position: absolute;
		    left: (-(@ol-counter-width) - 0.5em);
			margin: 0;
		    display: inline-block;
		    width: @ol-counter-width;
		    text-align: right;
		    color: @grey-light;
		    font-weight: bold;
		    .font-smoothing;
		    .tabular-lining;
		}
	}
}

// ==================== FOOTER

body > footer {
	display: block;
	color: @gray;
	background-color: @gray-lighter;
	font-size: @font-size-small;
	margin: 0;
	padding: 1.75em 0;
	// line-height: 1;

	a {
		.fancy-underline(@grey-lighter);
	}
}