// ==================== alerts.less

a.alert-link {
	.alert-success & {
		.fancy-underline(fadeout(@state-success-text,30%), 90%, @state-success-bg);
	}
	.alert-info & {
		.fancy-underline(fadeout(@state-info-text,30%), 90%, @state-info-bg);
	}
	.alert-warning & {
		.fancy-underline(fadeout(@state-warning-text,30%), 90%, @state-warning-bg);
	}
	.alert-danger & {
		.fancy-underline(fadeout(@state-danger-text,30%), 90%, @state-danger-bg);
	}
}

// ==================== badges.less

.badge {
	.font-feature-settings("lnum" 1);
}

// ==================== breadcrumbs.less

.breadcrumb a:not(.btn) {
	.fancy-underline-default(transparent);
}

// ==================== buttons.less

@btn-border-colour: rgba(255,255,255,0.5);
@btn-border: 1px solid @btn-border-colour;

.btn {
	border-width: 0px;
	background-color: @brand-primary;
	color: @btn-primary-color;
	font-family: @font-family-sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	.wr-transition(box-shadow, text-shadow;);
	.font-feature-settings("lnum" 1);

	&:hover {
		color: @btn-primary-color;
		background-color: @brand-primary;
		text-shadow: 0 0 10px @btn-primary-color;
		.wr-transition(box-shadow, text-shadow;);
		border-width: 0px;
	}
	
	&:active {
		color: @btn-primary-color;
		.btn-active-box-shadow;
		.wr-transition(box-shadow, text-shadow;);
		background-color: @brand-primary;
	}
}

.btn-group {
	> .btn + .btn,
	> .btn-group + .btn,
	&-vertical > .btn + .btn,
	&-vertical > .btn-group + .btn,
	&-justified > .btn + .btn,
	&-justified > .btn-group + .btn {
	    margin: 0;
	}

	> .btn:not(:first-child),
	> .btn-group:not(:first-child) {
		border-left: @btn-border;

		> .btn {
			border-left-style: none;
		}
	}

	&-vertical > .btn:not(:first-child),
	&-vertical > .btn-group:not(:first-child) {
		border-top: @btn-border;
		margin-top: 0;

		> .btn {
			border-top-style: none;
		}
	}

	&-justified {
		border-radius: @border-radius-base;
		background-color: @btn-border-colour;
	}

	&-justified > .btn + .btn-group > .btn.dropdown-toggle,
	&-justified > .btn-group + .btn-group > .btn.dropdown-toggle {
	    margin-left: -1px;
	    border-left: @btn-border;
	}

	&-justified > .btn:not(:first-child),
	&-justified > .btn-group:not(:first-child) {
		border-left: @btn-border;

		> .btn {
			border-left-style: none;
		}
	}
}

.open {
	.btn.dropdown-toggle {
		.btn-active-box-shadow;
		color: @btn-primary-color;
		border-color: rgba(0,0,0,0.5);
		// background-color: fadeout(@brand-primary,10%);
		background-color: @brand-primary;

		&:hover {
			text-shadow: none;
		}
	}

	.dropup & {
		.dropdown-toggle,
		.dropdown-toggle:active {
			box-shadow: 0 -5em 1px 0 rgba(0,0,0,0.5) inset; // reverse direction of transition
		}
	}
}

// ==================== dropdowns.less

.dropdown-menu {
	.font-smoothing;
	box-shadow: none;
	border-style: none;

	.divider {
		margin: ((@line-height-computed / 3) - 1px) 0;
	}
}

// .dropdown-header {
// 	.sans-serif-small-caps;
// 	font-weight: bold;
// 	font-size: (@font-size-small * 0.9);
// }

// ==================== forms.less

.form-control,
.input-group-addon {
	background-color: fadeout(@gray-lighter,40%);
	border-color: transparent;
	box-shadow: none;
	.wr-transition(background-color);
	.placeholder(fadeout(@grey-light,10%));

	&:focus {
		background-color: fadeout(@input-bg,10%);
		// .box-shadow(inset 0 0 2px fadeout(@gray-light,40%));
		box-shadow: none;
		border-style: solid;
		border-color: fadeout(@gray-lighter,10%);
		.wr-transition(background-color);
	}
}

.form-control {
	.font-smoothing;
}

input[type="search"] {
	border-radius: @input-height-base/2; // round ends
}

// textarea {
// 	.serif;
// 	font-size: @font-size-base;
// 	-webkit-font-smoothing: subpixel-antialiased;
// }

// ==================== grid.less

@row-gutter-height: ceil((@grid-gutter-width * 1.5));

// .make-row {
// 	&:first-of-type {
// 		padding-top: @row-gutter-height;
// 	}
// }

section.row {
	padding: @row-gutter-height*0.25 0 @row-gutter-height;

	border-top: 1px solid @gray-lighter;

	&:first-of-type {
		border-top-style: none;
	}

	&:last-of-type {
		padding-bottom: @row-gutter-height;
	}
}

// ==================== input-groups.less

.input-group {

	> .input-group-btn {

		> .btn,
		> .btn-group {
			margin: 0;
			border: 1px solid @brand-primary;
			&:hover {
				margin: 0;
			}
		}

		// &:not(:first-child) .btn,
		// &:not(:first-child) .btn-group,
		// &:first-child .btn:not(:first-child),
		// &:first-child .btn-group:not(:first-child)
		> .btn:not(:first-child),
		> .btn-group:not(:first-child) {
			border-left: @btn-border;
		}

		&:first-of-type:not(:first-child) .btn:first-of-type,
		&:first-of-type:not(:first-child) .btn-group:first-of-type { // for buttons immediately following text boxes
			margin-left: 1px;
			border-left-style: none;
		}

		&:last-of-type:not(:last-child) .btn:last-of-type,
		&:last-of-type:not(:last-child) .btn-group:last-of-type { // for buttons immediately preceding text boxes
			margin-right: 1px;
			border-right-style: none;
		}
	}

	> .input-group-addon {
		background-color: fadeout(@gray-light, 50%);
	}

	.form-horizontal & {
		width: 100%;
	}

	input.form-control:not(:only-of-type) {

		border-radius: 0; // reset border radii
		margin: 0;

		&:first-of-type {
			.border-top-radius(@border-radius-base);
		}

		&:not(:first-of-type):not(:last-of-type) {
			margin-left: 1px;
			margin-right: 1px;
		}

		&:not(:last-of-type) {
			margin-bottom: 2px;

			&:focus {
				z-index: 10; // fix for focus highlighting
			}
		}

		&:last-of-type {
			.border-bottom-radius(@border-radius-base);
		}
	}
}

// ==================== jumbotron.less

.wr-jumbotron {

	.hero-type();

	color: #fff;
	background-color: @gray-dark;
	text-shadow: @carousel-text-shadow;
	box-shadow: 0px 0px 500px 100px rgba(0,0,0,.6) inset;

	background-image: url(../img/big-data.jpg);
	background-position: center center;
	background-attachment: fixed;

	h1 {
		font-style: italic;
		text-align: center;
		margin: 0.5em 0;
		text-rendering: optimizeLegibility;

		// serif variant
		// .serif();
		// font-size: ceil((@font-size-h1 * 2.5));
		// line-height: 0.95;

		// serif small-caps
		// .font-feature-settings("smcp" 1);
		// text-transform: lowercase;
		// font-weight: 300;
		// letter-spacing: 4px;

		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: 10px;

		@media (min-width: @screen-md-min) {
			font-size: ceil((@font-size-h1 * 2));
		}
	}

	.lead {
		max-width: 30em;
		margin: 0 auto;
	}

	form {
		margin: 1.5em auto 0;
		max-width: 30em;
	}

	.form-control,
	.input-group-addon {
		.input-inverse;
	}
}

// ==================== navbar.less

// body {
// 	padding-top: @navbar-height;
// }

body>.navbar+* {
	margin-top: 0;
}

body>.navbar.affix+* {
	margin-top: (@navbar-height * 2);
}

// body>.navbar+.jumbotron {
// 	padding-top: (@navbar-height * 4);
// 	height: 500px + (@navbar-height * 4);
// }

.navbar-inverse input {
	.input-inverse;
}

.wr-navbar {
	.font-smoothing;

	&.affix {
		.navbar-fixed-top;
	}

	border-style: none;
	background-color: fadeout(hsl(0,0%,93%),5%);

	.navbar-brand {
		.hero-type;
		color: @grey-darker;
	}

	// .active>a {
	// 	margin-top: 5px;
	// 	margin-bottom: 0;
	// 	padding-top: 5px;
	// 	padding-bottom: 5px;
	// 	border: 1px solid white;
	// 	background-color: fadeout(@grey, 50%);
	// }

	.navbar-nav {
		> li > a {
			border-bottom: 3px solid transparent;
			.wr-transition(border-bottom, color, background-color;);
			.sans-serif-small-caps;
			font-weight: bold;
			font-size: 0.9em;

			&:hover {
				border-bottom-color: @brand-primary;
			}
		}

		> li.active > a {
			color: @grey-darker;
			background-color: fadeout(@brand-primary,80%);
			border-bottom-color: @brand-primary;
			.wr-transition(border-bottom, color, background-color;);
		}
	}

	input {
		border-color: #fff;
		background-color: transparent;

		&:focus {
			border-color: #fff;
		}
	}
}

// ==================== navs.less

.wr-nav-vertical {
	.nav-pills;
	.nav-stacked;

	.sans-serif-small-caps;
	font-weight: bold;
	font-size: @font-size-small;
	-webkit-font-smoothing: antialiased;
	line-height: 1;

	> li {

		// white-space: nowrap;

		> a {
			color: @grey-light;
			.wr-transition(background-color);

			&:active {
				background-color: fadeout(@brand-primary, 70%);
			}

			> .wr-icon {
				vertical-align: text-bottom;
				margin: 0 0.5em 0 0;
			}
		}

		&.active > a {
			border-color: @nav-pills-active-link-hover-bg;
		}

		small,
		.small {
			font-weight: normal;
			font-size: 1em;
		}
	}

	// li:not(:first-child) {
	// 	border-top: 1px solid @nav-tabs-border-color;
	// 	padding-top: 2px;
	// }
}

// ==================== pagination.less

.pagination {
	.tabular-lining;
}

// ==================== progress-bars.less

.progress {
	// border-bottom: 2px solid @progress-bg;
	// border-radius: 0;
	box-shadow: none;

	* {
	// 	background-color: transparent;
	// 	border-radius: 0;
		box-shadow: none;
	}

	.progress-bar {
		// border-bottom: 2px solid @progress-bar-bg;
		// color: @progress-bar-bg;
		text-align: right;
		font-weight: bold;
		padding-right: 0.5em;
		.font-feature-settings("lnum" 1);
	}
}

// ==================== scaffolding.less

a {
	.wr-transition(color, background-color;);

	&:link,
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
	}

	// .row a:not(.btn) {
	p &:not(.btn) {
		.fancy-underline-default();
	}
}

// ==================== type.less

@font-size-serif-adjust: 106.25%;
@font-size-serif-adjust-reverse: percentage(100/@font-size-serif-adjust);

.serif {

	a:not(:hover) { // for fancy underlines
		background-position: 0 88%;
	}

	p & {
		font-size: @font-size-serif-adjust;
		line-height: @font-size-serif-adjust-reverse;
	}

	.sans-serif {
		font-size: @font-size-serif-adjust-reverse;
		line-height: @font-size-serif-adjust;
	}

	h1 &, .h1 &, h1&, .h1&,
	h2 &, .h2 &, h2&, .h2&,
	h3 &, .h3 &, h3&, .h3&,
	h4 &, .h4 &, h4&, .h4& {
		.font-feature-settings("lnum" 1);
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	.hero-type();
}

@font-size-lead: ceil((@font-size-base * 1.9));

.lead {

	.hero-type();

	font-weight: normal;
	font-size: (@font-size-lead / 1.3);
	line-height: @line-height-large;
	margin-top: ((@font-size-lead * @line-height-large) / 2);
	margin-bottom: ((@font-size-lead * @line-height-large) / 2);

	&:first-child {
		margin-top: 0;
	}

	@media (min-width: @screen-sm-min) {
		font-size: @font-size-lead;
	}
}

p {
	max-width: 45em; // prevent lines from getting too long
}

// ==================== FOOTER

body>footer {
	display: block;
	color: @gray;
	background-color: @gray-lighter;
	font-size: @font-size-small;
	margin: 0;
	padding: 1.75em 0;
	// line-height: 1;

	a {
		.fancy-underline-default(@grey-lighter);
	}
}