// Buttons

.btn-active-padding(@padding-vertical) {
	padding-top: (@padding-vertical * 2);
	padding-bottom: 0;
}

// Padding

.padding-vertical(@padding-vertical) {
	padding-top: @padding-vertical;
	padding-bottom: @padding-vertical;
}

.padding-horizontal(@padding-horizontal) {
	padding-left: @padding-horizontal;
	padding-right: @padding-horizontal;
}

// Transitions

.wr-transition(@transition-property) {
	-webkit-transition-property: @transition-property;
	        transition-property: @transition-property;
	.wr-transition-settings();
}

.wr-transition-settings() {
	@transition-duration: 0.15s;
	@transition-timing-function: ease-in-out;
	-webkit-transition-duration: @transition-duration;
	        transition-duration: @transition-duration;
	-webkit-transition-timing-function: @transition-timing-function;
	        transition-timing-function: @transition-timing-function;
}

// Typography

.hero-type() {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.font-feature-settings(@font-feature-list) {
	-moz-font-feature-settings: @font-feature-list;
	-ms-font-feature-settings: @font-feature-list;
	-o-font-feature-settings: @font-feature-list;
	-webkit-font-feature-settings: @font-feature-list;
	font-feature-settings: @font-feature-list;
}

.tabular-lining {
	@font-feature-list: "tnum" 1, "lnum" 1;
	.font-feature-settings(@font-feature-list);
	text-rendering: optimizeSpeed; // disable kerning
}

.fancy-underline(@underline-colour; @underline-position-v; @background-colour) {
	padding-bottom: 0.125em;
	#gradient > .vertical(@start-color: transparent; @end-color: @underline-colour);
	background-size: 1px 1px;
	background-repeat: repeat-x;
	background-position: 0 @underline-position-v;
	text-shadow: 1px 0 @background-colour, 2px 0 @background-colour, -1px 0 @background-colour, -2px 0 @background-colour;
	.transition(background-position ease-out 0.15s);

	&:hover,
	&:active {
		background-position: 0 100%;
	}
}

.serif {
	font-family: @font-family-serif;
	.font-feature-settings("onum" 1);
}

.sans-serif {
	font-family: @font-family-sans-serif;
}

// Colours

@grey-darker:	@gray-darker; // otherwise, constant annoying typos
@grey-dark:		@gray-dark;
@grey:			@gray;
@grey-light:	@gray-light;
@grey-lighter:	@gray-lighter;