// Buttons

.btn-active-box-shadow() {
	box-shadow: 0 5em 1px 0 rgba(0,0,0,0.5) inset;
}

// Forms

.input-inverse() {
	.placeholder(fadeout(@grey-lighter,5%));

	&:focus {
		.placeholder(fadeout(@grey-light,10%));
		border-color: transparent;
	}
}


// Padding

.padding-vertical(@padding-vertical) {
	padding-top: @padding-vertical;
	padding-bottom: @padding-vertical;
}

.padding-horizontal(@padding-horizontal) {
	padding-left: @padding-horizontal;
	padding-right: @padding-horizontal;
}

// Transitions

@wr-transition-duration: 0.15s;
@wr-transition-timing-function: ease-in-out;

.wr-transition(@transition-property) {
	-webkit-transition+: @transition-property @wr-transition-duration @wr-transition-timing-function;
	        transition+: @transition-property @wr-transition-duration @wr-transition-timing-function;
}

// Typography

.font-smoothing() {
	-webkit-font-smoothing: antialiased;
}

.hero-type() {
	.font-smoothing;
	text-rendering: optimizeLegibility; // kerning
}

.font-feature-settings(@font-feature-list;) {
	-moz-font-feature-settings+: @font-feature-list;
	-ms-font-feature-settings+: @font-feature-list;
	-o-font-feature-settings+: @font-feature-list;
	-webkit-font-feature-settings+: @font-feature-list;
	font-feature-settings+: @font-feature-list;
}

.tabular-lining() {
	@font-feature-list: "tnum" 1, "lnum" 1;
	.font-feature-settings(@font-feature-list);
	text-rendering: optimizeSpeed; // disable kerning
}

.fancy-underline-base() {
	padding-bottom: 0.125em;
	background-size: 1px 1px;
	background-repeat: repeat-x;

	&,
	&:link,
	&:visited,
	&:hover,
	&:active {
		.wr-transition(background-position);
		.wr-transition(color);
	}

	&:hover,
	&:active {
		background-position: 0 100%;
	}
}

.fancy-underline() {
	.fancy-underline-base;
	text-shadow: none;
	#gradient > .vertical(@start-color: transparent; @end-color: fadeout(desaturate(@link-color,85%), 20%));
	background-position: 0 90%;
}

.fancy-underline(@background-colour) {
	.fancy-underline-base;
	text-shadow: 1px 0 @background-colour, 2px 0 @background-colour, -1px 0 @background-colour, -2px 0 @background-colour;
	#gradient > .vertical(@start-color: transparent; @end-color: fadeout(desaturate(@link-color,50%), 50%));
	background-position: 0 90%;
}

.fancy-underline(@background-colour; @underline-colour) {
	.fancy-underline-base;
	text-shadow: 1px 0 @background-colour, 2px 0 @background-colour, -1px 0 @background-colour, -2px 0 @background-colour;
	#gradient > .vertical(@start-color: transparent; @end-color: @underline-colour);
	background-position: 0 90%;
}

.fancy-underline(@background-colour; @underline-colour; @underline-position-v) {
	.fancy-underline-base;
	text-shadow: 1px 0 @background-colour, 2px 0 @background-colour, -1px 0 @background-colour, -2px 0 @background-colour;
	#gradient > .vertical(@start-color: transparent; @end-color: @underline-colour);
	background-position: 0 @underline-position-v;
}

.serif {
	font-family: @font-family-serif;
	.font-feature-settings("onum" 1);
}

.sans-serif {
	font-family: @font-family-sans-serif;
}

.sans-serif-small-caps {
	text-transform: uppercase;
	letter-spacing: 1px;
}

// Icon Sizes

.wr-icon-size(@size) {
	width: @size;
	height: @size;
	background-size: @size @size;
}

@wr-icon-sm: 16px;
@wr-icon-md: 24px;
@wr-icon-lg: 32px;

.wr-icon-sm {
	.wr-icon-size(@wr-icon-sm);
}

.wr-icon-md {
	.wr-icon-size(@wr-icon-md);
}

.wr-icon-lg {
	.wr-icon-size(@wr-icon-lg);
}

// Colours

@grey-base:		@gray-base; // otherwise, constant annoying typos
@grey-darker:	@gray-darker;
@grey-dark:		@gray-dark;
@grey:			@gray;
@grey-light:	@gray-light;
@grey-lighter:	@gray-lighter;