@import (reference) 'weareyvr';

.wr-nav-brand {
	.nav-pills;
	.wr-nav-vertical;

	li {

		a {
			font-weight: normal;
			padding: 8px 10px;
		}

		&.active > a {
			font-weight: bold !important;
		}
	}

	.nav {
		margin-left: 15px;

		li a {
			padding: 5px 8px;
			font-weight: normal;
			text-transform: none;
			letter-spacing: 0;
		}
	}
}

}