@import (reference) 'weareyvr';

.wr-nav-brand {
	.nav-pills;
	.wr-nav-vertical;

	li {

		a {
			font-weight: normal;
			padding: 8px 10px;
		}

		&.active > a {
			font-weight: bold !important;
		}
	}

	.nav {
		margin-left: 15px;

		li a {
			padding: 5px 8px;
			font-weight: normal;
			text-transform: none;
			letter-spacing: 0;
		}
	}
}

.colour-swatch {
	.square(48px);
	display: block;
	border-radius: @border-radius-small;
}

.icon-swatch {
	.wr-icon-size(32px);
	.square(48px);
	background-color: fadeout(mix(@grey-lighter,#fff),10%);
	border: 1px solid @grey-lighter;
	display: block;
	border-radius: @border-radius-small;
}