@import (reference) 'weareyvr';

// Colours

@wr-spruce:				hsl(174, 81%, 33%);
@wr-red:				#af1639;
@wr-pink:				#ff769f;
@wr-orange:				#ffaf00;
@wr-green:				#00d679;
@wr-blue:				#4095c5;
@wr-purple:				#6d22d6;
@wr-brown:				#8b572a;

@brand-primary-txt:		@brand-primary;
@wr-spruce-txt:			@wr-spruce;
@wr-red-txt:			lighten(@wr-red,7%);
@wr-pink-txt:			darken(@wr-pink,8%);
@wr-orange-txt:			darken(saturate(@wr-orange,15%),5%);
@wr-green-txt:			darken(saturate(@wr-green,20%),10%);
@wr-blue-txt:			@wr-blue;
@wr-purple-txt:			lighten(desaturate(@wr-purple,10%),15%);
@wr-brown-txt:			@wr-brown;

@wr-colour-advisor:		@wr-red;
@wr-colour-event:		@wr-pink;
@wr-colour-founder:		@wr-orange;
@wr-colour-startup:		@wr-green;
@wr-colour-employee:	@wr-blue;
@wr-colour-investor:	@wr-purple;
@wr-colour-jobs:		@wr-brown;

@wr-colour-advisor-txt:	@wr-red-txt;
@wr-colour-event-txt:	@wr-pink-txt;
@wr-colour-founder-txt:	@wr-orange-txt;
@wr-colour-startup-txt:	@wr-green-txt;
@wr-colour-employee-txt:@wr-blue-txt;
@wr-colour-investor-txt:@wr-purple-txt;
@wr-colour-jobs-txt:	@wr-brown-txt;

// Typography

.serif {
	.serif();
}

.text-content {
	.serif();
	font-size: 105%;

	.lead,
	&.lead {
		font-size: (@font-size-lead / 1.3);

		@media (min-width: @screen-sm-min) {
			font-size: @font-size-lead;
		}
	}
}

.sans-serif {
	.sans-serif();
}

.sans-serif-small-caps {
	.sans-serif-small-caps();
}

.font-light {
	.font-light();
}

// Tags

.inline-tagged-text() {
	.font-smoothing();
	font-weight: bold;
	padding-top: 0.15em;
	padding-bottom: 0.075em;
	border-width: 1px;
	border-style: solid;
	font-family: @font-family-sans-serif;
	display: inline;
	white-space: nowrap;
	text-decoration: none;

	.wr-icon {
		margin-right: 0.2em;
		margin-top: 1px;
	}
}

.entity-link(@txt-color) {
	color: @txt-color;
	@entity-bg-color: mix(fadeout(desaturate(@txt-color,10%),90%),rgba(255,255,255,0.5));
	// background-color: @entity-bg-color;
	background-color: fadeout(#fff,90%);
	border: 1px solid fadeout(@txt-color,80%);

	&:hover {
		// background-color: fadein(@entity-bg-color,30%);
		background-color: @entity-bg-color;
	}

	&,
	&:link,
	&:hover {
		.wr-transition(color);
		.wr-transition(background-color);
	}
}

a.entity {
	.inline-tagged-text();
	.remove-fancy-underline();
	border-radius: @border-radius-small;
	padding-right: 0.3em;
	padding-left: 0.3em;

	.entity-link(@link-color);

	&.disabled {
		.entity-link(@btn-link-disabled-color) !important;
		// -webkit-filter: grayscale();
		// filter: grayscale();
	}

	&-link {
		background-color: rgba(255,255,255,0.7);
		border-bottom-style: none;
		.fancy-underline(@underline-position-v: 100%);

		&:link,
		&:visited,
		&:hover {
			.wr-transition(background-color);
		}

		&:hover {
			background-color: @entity-bg-color;
		}
	}

	&-tag {
		@tag-colour: fadeout(@link-color,80%);

		border-radius: 1em;
		border-color: @tag-colour;
		padding-right: 0.6em;
		padding-left: 0.6em;

		&,
		&:link,
		&:hover {
			.wr-transition(color);
			.wr-transition(background-color);
		}

		&:hover {
			background-color: @tag-colour;
		}

		.wr-icon {
			margin-left: 0;
		}
	}

	small &,
	.small &,
	&.small {
		.wr-icon {
			position: relative;
			top: -1px;
		}
	}
}

.entity-lg {


	@entity-lg-user-icon-size: 72px;
	@entity-lg-padding: (ceil(@font-size-large/2) - 1px);
	@entity-lg-wr-icon-size: (@entity-lg-user-icon-size - (@entity-lg-padding*2));

	.inline-tagged-text();
	.remove-fancy-underline();
	font-size: @font-size-large;
	display: inline-block;
    border-radius: @border-radius-base;
    padding: @entity-lg-padding;
    margin: 0 @entity-lg-padding @entity-lg-padding 0;
    min-height: @entity-lg-user-icon-size;
    max-width: 15em;
    vertical-align: top;
    line-height: @line-height-base;

    .entity-link(@link-color);

    &__img {
        margin: -(@entity-lg-padding) @entity-lg-padding -(@entity-lg-padding) -(@entity-lg-padding);
        float: left;
        .border-left-radius(@border-radius-base - 1px);
        width: @entity-lg-user-icon-size;
        height: @entity-lg-user-icon-size;

        &.wr-icon,
        &.fa,
        &.glyphicon {
        	position: relative;					// optically correct position of icon
        	left: ceil(@entity-lg-padding/3);	// to compensate for irregular shapes
        }

        &.wr-icon {
        	background-size: @entity-lg-wr-icon-size @entity-lg-wr-icon-size;
        	width: @entity-lg-user-icon-size;
        	height: @entity-lg-user-icon-size;
        	margin: -(@entity-lg-padding+1px) 0 -(@entity-lg-padding+1px) -(@entity-lg-padding+1px);

        	// & + .entity-lg__txt {
        	// 	margin-left: (@entity-lg-user-icon-size+@entity-lg-wr-icon-size)/2;
        	// }
        }

        &.fa,
        &.glyphicon {
	        width: @entity-lg-user-icon-size;
	        height: @entity-lg-user-icon-size;
	        display: block;
	        opacity: 0.7;
	        text-align: center;
        }

        &.fa {
        	font-size: @fa-size-base*4;
	        line-height: 76px;
        }

        &.glyphicon {
        	font-size: @glyphicon-size-base*4;
        	vertical-align: middle;
        	line-height: 62px;
        }
    }

    &__txt {
    	display: block;
    	margin: 0 0 0 @entity-lg-user-icon-size;
    	width: 7em; // fallback
    	width: calc(~'100% - @{entity-lg-user-icon-size}');
    	line-height: 1;
    	white-space: normal;
    }

    &__name {
    	display: block;
    	font-weight: bold;
    	margin: 0 0 0.1em 0;
    }

    &__rel {
    	display: block;
    	.font-smoothing(subpixel-antialiased);
    	font-size: @font-size-small;
    	font-weight: normal;
    	color: @gray;
    	margin: 0;
    }

    &--fixed { // fixed-width variant
    		   // all available width on extra-small screens
    		   // 1/2 of available width on small screens
    		   // 1/3 of available width on medium and larger screens

    	@entity-lg-padding-calc-2col: @entity-lg-padding+2px;
    	@entity-lg-padding-calc-3col: @entity-lg-padding+3px;

    	width: 100%;

    	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	    	width: calc(~'50% - @{entity-lg-padding-calc-2col}'); // allows for 2 in a row on small screens
	    }

    	@media (min-width: @screen-md-min) {
    		width: calc(~'33.333% - @{entity-lg-padding-calc-3col}'); // allows for 3 in a row on medium screens
		}
    }

	&--full { // full-width variant
			  // all available width on all screens

	   	width: 100%;
   	}
}

// Coloured links

.wr-link-colour(@color, @txt-color) {

	a&,
	& a {
		color: @txt-color;
		@underline-colour: @txt-color;

		&:visited {
			color: lighten(desaturate(@txt-color,40%),25%);
		}

		&:hover {
			color: darken(@txt-color,25%);
		}

		&.entity,
		&.entity-lg {
			.entity-link(@txt-color);
		}

		p & {
			.fancy-underline(@underline-colour: @txt-color);
		}
	}
}

.wr-link {

	&-advisor,
	&-advisor-av,
	&-guide,
	&-guides {
		.wr-link-colour(@wr-colour-advisor, @wr-colour-advisor-txt);
	}

	&-event,
	&-events {
		.wr-link-colour(@wr-colour-event, @wr-colour-event-txt);
	}

	&-founder,
	&-founder-av {
		.wr-link-colour(@wr-colour-founder, @wr-colour-founder-txt);
	}

	&-startup,
	&-incubator,
	&-accelerator,
	&-vc,
	&-venture-capital {
		.wr-link-colour(@wr-colour-startup, @wr-colour-startup-txt);
	}

	&-employee,
	&-employee-av,
	&-newbie,
	&-newbie-av {
		.wr-link-colour(@wr-colour-employee, @wr-colour-employee-txt);
	}

	&-investor,
	&-investor-av,
	&-angel-investor,
	&-angel-investor-av,
	&-angel,
	&-angel-av,
	&-funding,
	&-series-a,
	&-series-b,
	&-series-c,
	&-series-d {
		.wr-link-colour(@wr-colour-investor, @wr-colour-investor-txt);
	}

	&-job,
	&-jobs {
		.wr-link-colour(@wr-colour-jobs, @wr-colour-jobs-txt);
	}

	&-spruce {
		.wr-link-colour(@wr-spruce, @wr-spruce-txt);
	}

	&-red {
		.wr-link-colour(@wr-red, @wr-red-txt);
	}

	&-pink {
		.wr-link-colour(@wr-pink, @wr-pink-txt);
	}

	&-orange {
		.wr-link-colour(@wr-orange, @wr-orange-txt);
	}

	&-green {
		.wr-link-colour(@wr-green, @wr-green-txt);
	}

	&-blue {
		.wr-link-colour(@wr-blue, @wr-blue-txt);
	}

	&-purple {
		.wr-link-colour(@wr-purple, @wr-purple-txt);
	}

	&-brown {
		.wr-link-colour(@wr-brown, @wr-brown-txt);
	}

}

// Icon sizes

.wr-icon-sm {
	.wr-icon-sm();
}

.wr-icon-md {
	.wr-icon-md();
}

.wr-icon-lg {
	.wr-icon-lg();
}

// Additional button styles

.btn {

	&-wr-spruce {
		// .btn-primary;
		.wr-btn-variant(@wr-spruce);
	}

	&-wr-red {
		// .btn-primary;
		.wr-btn-variant(@wr-red);
	}

	&-wr-pink {
		// .btn-primary;
		.wr-btn-variant(@wr-pink);
	}

	&-wr-orange {
		// .btn-primary;
		.wr-btn-variant(@wr-orange);
	}

	&-wr-green {
		// .btn-primary;
		.wr-btn-variant(@wr-green);
	}

	&-wr-blue {
		// .btn-primary;
		.wr-btn-variant(@wr-blue);
	}

	&-wr-purple {
		// .btn-primary;
		.wr-btn-variant(@wr-purple);
	}

	&-wr-brown {
		// .btn-primary;
		.wr-btn-variant(@wr-brown);
	}

	&-black {
		// .btn-primary;
		.wr-btn-variant(#000);
	}

	&-white {
		// .btn-primary;
		.wr-btn-variant(@bg-color: #fff; @text-color: #222; @border-color: #999;);

		&:hover {
			background-color: #999;
		}
	}
}

// Jumbotron

.jumbotron {
	background-position: center center;
	background-size: cover;
}

.jumbotron.wr-jumbotron {

	.hero-type();

	background-color: @grey-lighter;
	position: relative;
	font-weight: normal;

	@media (max-width: @screen-sm-max) {
		padding: @jumbotron-padding 0;
	}

	jumbotron-heading,
	.jumbotron-heading {
		font-style: italic;
		text-align: center;
		margin: 0.5em auto;
		text-rendering: optimizeLegibility;
		max-width: 14em;

		.font-light;
		text-transform: uppercase;

		font-size: @font-size-h1;
		letter-spacing: 5px;

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			font-size: ceil((@font-size-h1 * 1.5));
		}

		@media (min-width: @screen-md-min) {
			font-size: ceil((@font-size-h1 * 2));
			letter-spacing: 7px;
		}
	}

	.lead {
		max-width: 30em;
		margin: 0 auto;
	}

	.input-group {
		.form-control,
		.input-group-addon {
			&:not(:first-child) {
				border-left-style: none;
			}

			&:not(:last-child) {
				border-right-style: none;
			}
		}
	}

	.image-credit {
		font-size: ceil(@font-size-base * 0.7);
		position: absolute;
		right: 1em;
		bottom: 1em;
		opacity: 0.4;
		color: @grey-light;

		.wr-transition(opacity);

		a {
			&:link,
			&:visited {
				color: #fff;
			}
		}
	}

	&:hover .image-credit {
		opacity: 0.9;
	}

	&-blank {

		&,
		& .jumbotron-overlay {

			.form-control,
			.input-group-addon {
				&,
				&:focus {
					background-color: #fff;
				}
			}
		}

		.jumbotron-overlay-dark {
			.form-control,
			.input-group-addon {
				&,
				&:focus {
					.placeholder(fadeout(@grey-light,10%));
				}
			}	
		}
	}

	&-lighten {
		box-shadow: 0px 0px 300px 50px rgba(255,255,255,.6) inset;
	}

	&-dark,
	&-darken {
		color: #fff;
		background-color: @gray-dark;

		.form-control,
		.input-group-addon {
			.input-inverse;
		}
	}

	&-darken {
		// text-shadow: @carousel-text-shadow;
		box-shadow: 0px 0px 500px 100px rgba(0,0,0,.6) inset;
	}

	.jumbotron-overlay {
		background-color: fadeout(@grey-lighter,50%);
		padding: (@jumbotron-padding / 3.2) (@jumbotron-padding / 3.2) (@jumbotron-padding / 6.4);
		margin-bottom: 0;

		@media screen and (min-width: @screen-md-min) {
			margin: (@jumbotron-padding * 1.6) -(@jumbotron-padding) (@jumbotron-padding / 1.6) -(@jumbotron-padding);
			padding: (@jumbotron-padding / 3.2) @jumbotron-padding @jumbotron-padding;
		}

		@media screen and (min-width: @screen-sm-min) {
			.container & {
				margin-left: -(@jumbotron-padding * 2);
				margin-right: -(@jumbotron-padding * 2);
			}
		}

		&-form {
			padding: 0 (@jumbotron-padding / 3);
			margin: 0 auto;

			@media screen and (min-width: @screen-sm-min) {
				padding: 0 @jumbotron-padding;
				max-width: 30em;
			}

			@media screen and (min-width: @screen-md-min) {
				margin: 1.5em auto 0;
			}
		}

		.form-control,
		.input-group-addon {
			.input-default;
		}

		.btn,
		.btn:hover {
			border-color: transparent;
		}
	}

	.jumbotron-overlay-dark {
		.jumbotron-overlay;
		background-color: fadeout(@grey-darker,60%);
		color: #fff;

		.form-control,
		.input-group-addon {
			.input-inverse;
		}
	}

	.wr-search-bar {

		padding: (@jumbotron-padding / 3.2);
		margin-bottom: 0;

		@media screen and (min-width: @screen-md-min) {
			padding: (@jumbotron-padding / 3.2);
			margin: (@jumbotron-padding * 1.6) -(@jumbotron-padding) (@jumbotron-padding / 1.6) -(@jumbotron-padding);
		}

		.wr-search-bar-container {
			max-width: 60em;
			margin: 0 auto;
		}
	}
}

// Jumbo search bar

.wr-search-bar {

	padding: 0;
	margin-bottom: 0;
	font-weight: normal;

	& &-container {
		max-width: 60em;
		margin: 0 auto;
		padding: 0;
		position: relative;

		.wr-search-bar-field {
			border-radius: @font-size-h2;
			padding-left: 0.9em;
			color: @grey-dark;
			.placeholder(fadeout(@brand-primary, 55%));

			&:focus {
				.placeholder(fadeout(@brand-primary, 75%));
			}
		}

		.wr-search-bar-submit-btn {
			border-radius: @font-size-h2;
			background-color: transparent;

			@media screen and (max-width: @screen-xs-max) {
				.sr-only;
			}
		}

		@media screen and (min-width: @screen-sm-min) {

			.wr-search-bar-field {
				font-size: @font-size-h3;
				height: (@font-size-h3 * 2);
				display: inline;
				padding-right: 5em;

				&:focus + .wr-search-bar-submit-btn {
					visibility: visible;
					opacity: 0;
				}

				&:valid + .wr-search-bar-submit-btn,
				&:focus:valid + .wr-search-bar-submit-btn {
					visibility: visible;
					opacity: 1.0;
					.wr-transition(opacity);
				}
			}

			.wr-search-bar-submit-btn {
				font-size: @font-size-h3;
				height: ((@font-size-h3 * 2) - 2);
				position: absolute;
				top: 1px;
				right: 1px;
				// font-weight: normal;
				color: fadeout(@brand-primary,15%);
				border-color: transparent;
				padding-left: 0.9em;
				padding-right: 0.9em;

				visibility: hidden;
			}
		}

		@media screen and (min-width: @screen-md-min) {	
			.wr-search-bar-field {
				font-size: @font-size-h2;
				height: (@font-size-h2 * 2);
			}

			.wr-search-bar-submit-btn {
				font-size: @font-size-h2;
				height: ((@font-size-h2 * 2) - 2);
			}
		}
	}

	.form-control,
	.input-group-addon {
		.input-default;
	}

	.btn,
	.btn:hover {
		border-color: transparent;
	}

	&-light,
	&-primary,
	&-dark {
		padding: (@jumbotron-padding / 3.2);

		.wr-search-bar-container {
			.wr-search-bar-field {
				background-color: transparent;
			}
		}
	}

	&-light {
		background-color: fadeout(@grey-lighter,20%);

		.wr-search-bar-container {
			.wr-search-bar-field {
				border-color: fadeout(@brand-primary, 60%);
				.placeholder(fadeout(@brand-primary, 40%));

				&:focus {
					border-color: fadeout(@brand-primary, 60%);
				}
			}
		}
	}

	&-primary,
	&-dark {
		.wr-search-bar-container {
			.wr-search-bar-field {
				border-color: fadeout(@grey-lighter, 30%);
				.placeholder(fadeout(@grey-lighter, 30%));
				color: #fff;

				&:focus {
					border-color: fadeout(@grey-lighter, 10%);
					.placeholder(fadeout(@grey-lighter, 60%));
				}
			}

			.wr-search-bar-submit-btn {
				color: fadeout(@grey-lighter,15%);
			}
		} 	
	}

	&-primary {
		background-color: fadeout(@brand-primary,15%);
	}

	&-dark {
		background-color: fadeout(@grey-darker,15%);
	}
}

// Segmented inputs

.segmented-input {

	&-vertical {

		> .form-control,
		> .input-segment > .form-control {
			margin-top: 2px;
		}

		> .form-control:first-child,
		> .input-segment:first-child > .form-control {
			.border-bottom-radius(0);
			margin-top: 0;
		}

		> .form-control:last-child,
		> .input-segment:last-child > .form-control {
			.border-top-radius(0);
		}

		> .form-control:not(:first-child):not(:last-child),
		> .input-segment:not(:first-child):not(:last-child) > .form-control {
			border-radius: 0;
		}
	}

	&-horizontal {

		display: table;
		width: 100%;
		// table-layout: fixed;
		border-collapse: separate;
		// border-spacing: 2px 0;

		> .input-segment {

			display: table-cell;
			float: none;
			width: auto;

			border-left: 2px solid transparent;

			&:first-child {
				border-style: none;
			}
			
			&:first-child > .form-control {
				.border-right-radius(0);
			}

			&:last-child > .form-control {
				.border-left-radius(0);
			}

			&:not(:first-child):not(:last-child) > .form-control {
				border-radius: 0;
			}
		}
	}
}

// Navbar

.wr-navbar {
	.font-smoothing;
	border-radius: 0;
	border-style: none;
	background-color: fadeout(#fff,5%);
	box-shadow: 0 1px 2px fadeout(@grey-light,50%);
	height: (@navbar-height * 3);
	padding-top: @navbar-height;
	margin-bottom: 0;
	z-index: 10;

	@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
		.container {
			padding: 0;
			margin: 0 auto;
		}
	}

	.navbar-brand {
		.hero-type;
		color: @grey-darker;
	}

	.navbar-header {
		border-bottom: (3px - 1) solid transparent;
	}

	.navbar-nav {
		> li > a {
			border-bottom: 0px solid @brand-primary;
			.wr-transition(border-bottom);
			.wr-transition(color);
			.wr-transition(background-color);
			.sans-serif-small-caps;
			font-weight: bold;
			font-size: 0.9em;

			&:hover {
				border-bottom-width: 3px;
			}
		}

		> li.active > a {
			color: @grey-darker;
			background-color: fadeout(@brand-primary,80%);
			border-bottom-width: 3px;
			.wr-transition(border-bottom);
			.wr-transition(color);
			.wr-transition(background-color);
		}
	}

	.form-control,
	.input-group-addon,
	.btn {
		margin-left: 0.5em;

		&:first-child {
			margin-left: 0;
		}
	}

	+ .container {
		margin-top: 3em;
	}
}

.navbar-link {

	&,
	.navbar-default & {
		.fancy-underline(@background-colour: transparent; @underline-colour: @navbar-default-link-color);
	}

	.navbar-inverse & {
		.fancy-underline(@background-colour: transparent; @underline-colour: @navbar-inverse-link-color);
	}
}

// Social network buttons

.social-share-box {
	display: inline-block;
	padding-right: 1em;

	&:not(:last-child) {
		float: left;
	}
}

// Footer

body > footer {
	display: block;
	color: @gray;
	background-color: @gray-lighter;
	font-size: @font-size-small;
	margin: 0;
	padding: 1.75em 0;
	// line-height: 1;

	a {
		.fancy-underline(@grey-lighter);
	}
}