@import '_variables';
@import '_wr_mixins';

// Colours

@wr-spruce:				hsl(174, 81%, 33%);
@wr-red:				#af1639;
@wr-pink:				#ff769f;
@wr-orange:				#ffaf00;
@wr-green:				#00d679;
@wr-blue:				#4095c5;
@wr-purple:				#6d22d6;
@wr-brown:				#8b572a;

@wr-spruce-txt:			@wr-spruce;
@wr-red-txt:			lighten(@wr-red,5%);
@wr-pink-txt:			darken(@wr-pink,8%);
@wr-orange-txt:			darken(saturate(@wr-orange,15%),5%);
@wr-green-txt:			darken(saturate(@wr-green,20%),10%);
@wr-blue-txt:			@wr-blue;
@wr-purple-txt:			lighten(desaturate(@wr-purple,10%),15%);
@wr-brown-txt:			@wr-brown;

@wr-colour-advisor:		@wr-red;
@wr-colour-event:		@wr-pink;
@wr-colour-founder:		@wr-orange;
@wr-colour-startup:		@wr-green;
@wr-colour-employee:	@wr-blue;
@wr-colour-investor:	@wr-purple;
@wr-colour-jobs:		@wr-brown;

@wr-colour-advisor-txt:	@wr-red-txt;
@wr-colour-event-txt:	@wr-pink-txt;
@wr-colour-founder-txt:	@wr-orange-txt;
@wr-colour-startup-txt:	@wr-green-txt;
@wr-colour-employee-txt:@wr-blue-txt;
@wr-colour-investor-txt:@wr-purple-txt;
@wr-colour-jobs-txt:	@wr-brown-txt;

// Typography

.serif {
	.serif();
}

.sans-serif {
	.sans-serif();
}

.sans-serif-small-caps {
	.sans-serif-small-caps();
}

// Tags

.inline-tagged-text() {
	.font-smoothing();
	font-weight: bold;
	margin: 0 0.25em;
	padding-top: 0.175em;
	padding-bottom: 0.075em;
	border-width: 1px;
	border-style: solid;
	font-family: @font-family-sans-serif;
	display: inline;
	white-space: nowrap;

	.wr-icon {
		margin-right: 0.2em;
		margin-top: 1px;
	}
}

.node-link(@txt-color) {
	color: @txt-color;
	@node-bg-color: mix(fadeout(desaturate(@txt-color,10%),90%),rgba(255,255,255,0.5));
	background-color: @node-bg-color;
	border: 1px solid fadeout(@txt-color,80%);

	&:hover {
		background-color: fadein(@node-bg-color,30%);
	}
}

a.node {
	.inline-tagged-text();
	border-radius: @border-radius-small;
	padding-right: 0.3em;
	padding-left: 0.3em;

	.node-link(@link-color);

	&.disabled {
		.node-link(@btn-link-disabled-color) !important;
		-webkit-filter: grayscale();
		filter: grayscale();
	}

	&.link {
		background-color: rgba(255,255,255,0.7);
		border-bottom-style: none;
		.fancy-underline(@underline-position-v: 100%);

		&:link,
		&:visited,
		&:hover {
			.wr-transition(background-color);
		}

		&:hover {
			background-color: @node-bg-color;
		}
	}
}

a.tag {
	.inline-tagged-text();
	@tag-colour: fadeout(@link-color,80%);

	border-radius: 1em;
	border-color: @tag-colour;
	padding-right: 0.6em;
	padding-left: 0.6em;

	&:hover {
		background-color: @tag-colour;
	}
}

// Coloured links

.wr-link-colour(@color, @txt-color) {

	a&,
	& a {
		color: @txt-color;
		@underline-colour: @color;

		&:visited {
			color: lighten(desaturate(@txt-color,40%),25%);
		}

		&:hover {
			color: darken(@txt-color,25%);
		}

		&.node {
			.node-link(@txt-color);
		}
	}
}

.wr-link {

	&-advisor,
	&-advisor-av,
	&-guides {
		.wr-link-colour(@wr-colour-advisor, @wr-colour-advisor-txt);
	}

	&-event {
		.wr-link-colour(@wr-colour-event, @wr-colour-event-txt);
	}

	&-founder,
	&-founder-av {
		.wr-link-colour(@wr-colour-founder, @wr-colour-founder-txt);
	}

	&-startup,
	&-incubator {
		.wr-link-colour(@wr-colour-startup, @wr-colour-startup-txt);
	}

	&-employee,
	&-employee-av,
	&-newbie,
	&-newbie-av {
		.wr-link-colour(@wr-colour-employee, @wr-colour-employee-txt);
	}

	&-investor,
	&-investor-av,
	&-angel-investor,
	&-angel-investor-av,
	&-funding,
	&-series-a,
	&-series-b,
	&-series-c,
	&-series-d {
		.wr-link-colour(@wr-colour-investor, @wr-colour-investor-txt);
	}

	&-jobs {
		.wr-link-colour(@wr-colour-jobs, @wr-colour-jobs-txt);
	}

}

// Icon sizes

.wr-icon-sm {
	.wr-icon-sm();
}

.wr-icon-md {
	.wr-icon-md();
}

.wr-icon-lg {
	.wr-icon-lg();
}

// Social network buttons

.social-share-box {
	display: inline-block;
	padding-right: 1em;

	&:not(:last-child) {
		float: left;
	}
}