.wr-navbar:not(.affix) {
	margin-top: 50px;
	margin-bottom: 0;
}

.navbar-brand .weareyvr-mark {
	z-index: 13;
	margin: 0 1em 0 0;
	display: inline-block;
	position: relative;
	top: ceil(-(179px / 5));
	width: 127px;
	height: 100px;

	> span {
		font-size: @font-size-h3;
		line-height: 0;
		position: absolute;
		top: 46px;
	}
}